Dein <%= c 'product_name' %> Passwort wurde geändert

<div>Hallo <%= d 'user.firstname' %>,</div>
<br>
<div>das Passwort für Dein <%= c 'product_name' %> Account <b><%= d 'user.login' %></b> wurde kürzlich geändert.</div>
<br>
<div>Diese Aktivität ist Dir nicht bekannt? In diesen Fall kontaktiere Deinen System-Administrator.</div>
<br>
<div>Dein <%= c 'product_name' %> Team</div>
