Dein <%= c 'product_name' %> Passwort wurde geändert

<p>Hallo <%= d 'user.firstname' %>,</p>
<br>
<p>das Passwort für Dein <%= c 'product_name' %> Account <b><%= d 'user.login' %></b> wurde kürzlich geändert.</p>
<br>
<p>Diese Aktivität ist Dir nicht bekannt? In diesen Fall kontaktiere Deinen System-Administrator.</p>
<br>
<p>Dein <%= c 'product_name' %> Team</p>
