Your <%= c 'product_name' %> password has been changed

<p>Hi <%= d 'user.firstname' %>,</p>
<br>
<p>The password for your <%= c 'product_name' %> account <b><%= d 'user.login' %></b> has been changed recently.</p>
<br>
<p>This activity is not known to you? If not, contact your system administrator.</p>
<br>
<p>Your <%= c 'product_name' %> Team</p>
