Confirm your <%= c 'product_name' %> account, <%= d 'user.firstname' %> <%= d 'user.lastname' %>

<div>Hi <%= d 'user.firstname' %>,</div>
<br>
<div>Confirm your email address to complete your <%= c 'product_name' %> account. It's easy, just click the link below.</div>
<br>
<div><a href="<%= c 'http_type' %>://<%= c 'fqdn' %>/#email_verify/<%= d 'token.name' %>"><%= c 'http_type' %>://<%= c 'fqdn' %>/#email_verify/<%= d 'token.name' %></a></div>
<br>
<div>Your <%= c 'product_name' %> Team</div>
