Confirm your <%= c 'product_name' %> account, <%= d 'user.firstname' %> <%= d 'user.lastname' %>

<p>Hi <%= d 'user.firstname' %>,</p>
<br>
<p>Confirm your email address to complete your <%= c 'product_name' %> account. It's easy, just click the link below.</p>
<br>
<p><a href="<%= c 'http_type' %>://<%= c 'fqdn' %>/#email_verify/<%= d 'token.name' %>"><%= c 'http_type' %>://<%= c 'fqdn' %>/#email_verify/<%= d 'token.name' %></a></p>
<br>
<p>Your <%= c 'product_name' %> Team</p>
