New Ticket (<%= d 'ticket.title' %>)

<div>Hi <%= d 'recipient.firstname' %>,</div>
<br>
<div>A new ticket (<%= d 'ticket.title' %>) has been created by "<b><%= d 'current_user.longname' %></b>".</div>
<br>
<div>
<%= t 'Group' %>: <%= d 'ticket.group.name' %><br>
<%= t 'Owner' %>: <%= d 'ticket.owner.fullname' %><br>
<%= t 'State' %>: <%= t d 'ticket.state.name' %><br>
</div>
<br>
<% if @objects[:article] %>
  <div>
  <%= t 'Information' %>:
  <blockquote type="cite">
  <%= a_html 'article' %>
  </blockquote>
  </div>
<% end %>
<br>
<div>
  <a href="<%= c 'http_type' %>://<%= c 'fqdn' %>/#ticket/zoom/<%= d 'ticket.id' %>" target="zammad_app"><%= t 'View this in Zammad' %></a>
</div>
