<%= c 'product_name' %>-Anmeldung erfasst von einem neuen Gerät

<div>Hallo <%= d 'user.firstname' %>,</div>
<br>
<div>es sieht aus, als ob Du Dich mit <b>einem neuen Gerät</b> um "<%= d 'user_device.created_at' %>" angemeldet hast:</div>
<br>
<div>
Dein Gerät: <%= d 'user_device.name' %><br>
Deine Lokation (relativ): <%= d 'user_device.location' %><br>
Deine IP: <%= d 'user_device.ip' %><br>
</div>
<br>
<div>Das Gerät wurde in die Liste der bekannten Geräte hinzugefügt, diese Liste kannst Du hier einsehen:</div>
<br>
<div><%= c 'http_type' %>://<%= c 'fqdn' %>/#profile/devices</div>
<br>
<div>Wenn dies nicht Du warst, entferne das Gerät aus der Liste, ändere Dein Account-Passwort und kontaktieren Deinen Administrator. Jemand könnte unberechtigten Zugriff auf Dein Konto bekommen haben.</div>
<br>
<div>Dein <%= c 'product_name' %> Team</div>
