Zurücksetzen Deines <%= c 'product_name' %> Passworts

<p>
Hallo <%= d 'user.firstname' %>,
</p>
<br>
<p>wir haben eine Anfrage zum Zurücksetzen des Passworts für <%= c 'product_name' %> Account <b><%= d 'user.login' %></b> erhalten.</p>
<br>
<p>Wenn Sie Ihr Passwort zurückzusetzen wollen, klicken Sie auf den unten stehenden Link (oder kopieren Sie die URL in den Browser einfügen):</p>
<br>
<p><a href="<%= c 'http_type' %>://<%= c 'fqdn' %>/#password_reset_verify/<%= d 'token.name' %>"><%= c 'http_type' %>://<%= c 'fqdn' %>/#password_reset_verify/<%= d 'token.name' %></a></p>
<br>
<p>Dieser Link führt Sie zu einer Seite, auf der Sie Ihr Passwort ändern können.</p>
<br>
<p>Wenn Sie Ihr Passwort nicht zurücksetzen wollen, ignorieren Sie diese Meldung. Das Passwort bleibt unverändert.</p>
<br>
<p>Dein <%= c 'product_name' %> Team</p>
