Invitation to <%= c 'product_name' %> at <%= c 'fqdn' %>

<div>Hi <%= d 'user.firstname' %>,</div>
<br>
<div>I (<%= d 'current_user.firstname' %> <%= d 'current_user.lastname' %>) invite you to <%= c 'product_name' %> - our customer support / ticket system platform.</div>
<br>
<div>Click <a href="<%= c 'http_type' %>://<%= c 'fqdn' %>/#password_reset_verify/<%= d 'token.name' %>">here</a> and set your password.</div>
<br>
<div>Enjoy,</div>
<br>
<div><%= d 'current_user.firstname' %> <%= d 'current_user.lastname' %></div>
<br>
<div>Your <%= c 'product_name' %> Team</div>
