<style type="text/css">
    blockquote {
    border-left: 2px solid blue;
    padding-left: 1em;
  }
  .header {
    color: #aaaaaa;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:#aaaaaa;
    width: 100%;
    max-width: 600px;
    padding-bottom: 6px;
    margin-bottom: 16px;
    padding-top: 6px;
    font-size: 16px;
  }
  .footer {
    font-size: 10px;
    color: #aaaaaa;
    border-top-style:solid;
    border-top-width:1px;
    border-top-color:#aaaaaa;
    width: 100%;
    max-width: 600px;
    padding-top: 6px;
    margin-top: 16px;
    padding-botton: 6px;
  }
  .footer a {
    color: #aaaaaa;
  }

  .bottom-link {
    padding-top: 7px;
    width: 220px;
    height: 35px;
    text-decoration: underline;
    color:  #787878;
    font-size: 20px;
    text-align: center;
    display: block;
  }

  #custom-article span {
    font-size: 16.5px;
  }

  #custom-article table {
    border-collapse: collapse;
    margin-bottom: 0px;
    display: table;
    width: 1111px
  }

  #custom-article td, #custom-article th {
    border-top: 0.5pt solid rgb(175, 171, 171);
    border-bottom: 0.5pt solid rgb(175, 171, 171);
    padding: 10px;
    vertical-align: top;
  }

  #custom-article th {
    width: 27%;
    text-align: left;
  }

  #custom-article p:last-of-type {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 18.5px;
    font-weight: bold;
  }

  #custom-article div span {
    width: 200px;
    height: 35px;
    position: relative;
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 5px;
    box-sizing: initial;
    margin-bottom: 10px;
    display: inline-block;
  }


  #custom-article div span a {
    text-decoration: underline;
    color: #ED3C05;
    font-size: 20px;
  }

  .exclamation-point{
    width: 60px;
    height: 60px;
  }

  .subtitle{
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
  }

  .regular-text{
    font-size: 20px;
  }

</style>
<% if @objects[:standalone] != true %>
<div class="header">
  <%= c 'product_name' %> <%= t 'Notification' %>
</div>
<% end %>

<%= d 'message', false %>

<% if @objects[:standalone] != true %>
<div class="footer">
  <% if @objects[:reason] %>
    <% reason = t('You are receiving this because you "%s".') %>
    <% reason_item = t (@objects[:reason]) %>
    <% reason.gsub!('%s', reason_item) %>
    <%= reason %> |
  <% end %>
  <a href="<%= c 'http_type' %>://<%= c 'fqdn' %>/#profile/notifications"><%= t 'Manage your notifications settings' %></a>
  <% if c('organization').present? %>| <%= c 'organization' %><% end %>
</div>
<% end %>
