<style type="text/css">
  blockquote {
    border-left: 2px solid blue;
    padding-left: 1em;
  }
  .header {
    color: #aaaaaa;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:#aaaaaa;
    width: 100%;
    max-width: 600px;
    padding-bottom: 6px;
    margin-bottom: 16px;
    padding-top: 6px;
    font-size: 16px;
  }
  .footer {
    font-size: 10px;
    color: #aaaaaa;
    border-top-style:solid;
    border-top-width:1px;
    border-top-color:#aaaaaa;
    width: 100%;
    max-width: 600px;
    padding-top: 6px;
    margin-top: 16px;
    padding-botton: 6px;
  }
  .footer a {
    color: #aaaaaa;
  }
</style>
<% if @objects[:standalone] != true %>
<div class="header">
  <%= c 'product_name' %> <%= t 'Notification' %>
</div>
<% end %>

<%= d 'message', false %>

<% if @objects[:standalone] != true %>
<div class="footer">
  <% if @objects[:reason] %>
    <% reason = t('You are receiving this because you "%s".') %>
    <% reason_item = t (@objects[:reason]) %>
    <% reason.gsub!('%s', reason_item) %>
    <%= reason %> |
  <% end %>
  <a href="<%= c 'http_type' %>://<%= c 'fqdn' %>/#profile/notifications"><%= t 'Manage your notifications settings' %></a>
  <% if c('organization').present? %>| <%= c 'organization' %><% end %>
</div>
<% end %>
