body {
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.45;
  font-weight: normal;
  background: #2c2d36;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

a.create {
  color: hsl(145,51%,45%);
  text-decoration: underline;
}

small {
  color: #c6c6c5;
  font-size: 12px;
}

.u-highlight {
  color: hsl(194,90%,45%);
}

.u-unclickable {
  pointer-events: none;
}

.u-clickable {
  pointer-events: auto;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
}

.u-textTruncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.u-positionOrigin {
  position: relative;
}

.zIndex-1,
.zIndex-2,
.zIndex-3,
.zIndex-4,
.zIndex-5,
.zIndex-6,
.zIndex-7,
.zIndex-8,
.zIndex-9,
.zIndex-10 {
  position: relative;
}

.zIndex-1 {
  z-index: 100;
}
.zIndex-2 {
  z-index: 200;
}
.zIndex-3 {
  z-index: 300;
}
.zIndex-4 {
  z-index: 400;
}
.zIndex-5 {
  z-index: 500;
}
.zIndex-6 {
  z-index: 600;
}
.zIndex-7 {
  z-index: 700;
}
.zIndex-8 {
  z-index: 800;
}
.zIndex-9 {
  z-index: 900;
}
.zIndex-10 {
  z-index: 1000;
}

.clickCatcher {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: default;
}

.debug .clickCatcher {
  background: hsla(0,100%,50%,.13);
}

.debug .clickCatcher + .clickCatcher {
  background: hsla(50,100%,50%,.13);
}

#app > nav {
  position: relative;
  z-index: 1;
}

/* tooltip */
a[data-tooltip],
time[data-tooltip],
span[data-tooltip] {
  position: relative;
}
a[data-tooltip]:before,
time[data-tooltip]:before,
span[data-tooltip]:before,
a[data-tooltip]:after,
time[data-tooltip]:after,
span[data-tooltip]:after {
  content: "";
  position: absolute;
  pointer-events: none;
  transform: scale(0);
  opacity: 0;
  transition: transform 300ms cubic-bezier(0.34,1.6,0.71,1), opacity 300ms;
}
a[data-tooltip]:before,
time[data-tooltip]:before,
span[data-tooltip]:before {
  left: 0;
  top: -34px;
  background-color: #c6c6c5;
  color: #ffffff;
  height: 26px;
  line-height: 27px;
  border-radius: 5px;
  padding: 0 13px;
  content: attr(data-tooltip);
  white-space: nowrap;
  transform-origin: 17px 26px;
}
a[data-tooltip]:after,
time[data-tooltip]:after,
span[data-tooltip]:after {
  left: 13px;
  top: -8px;
  border-top: 7px solid #c6c6c5;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  transform-origin: 4px 0;
}
a[data-tooltip]:hover:after,
a[data-tooltip]:hover:before,
time[data-tooltip]:hover:after,
time[data-tooltip]:hover:before,
span[data-tooltip]:hover:after,
span[data-tooltip]:hover:before {
  pointer-events: auto;
  transform: scale(1);
  opacity: 1;
  transition: transform 300ms 1.5s cubic-bezier(0.34,1.6,0.71,1), opacity 300ms 1.5s;
}

.form-control::-webkit-input-placeholder,
.token-input::-webkit-input-placeholder {    color: hsl(0,0%,80%); }
.form-control::-moz-placeholder,
.token-input::-moz-placeholder { opacity: 1; color: hsl(0,0%,80%); }
.form-control:-ms-input-placeholder,
.token-input:-ms-input-placeholder {         color: hsl(0,0%,80%); }

.glyphicon {
  font-size: 13px;
}

.spinner {
  float: left;
  background: url("/assets/images/spinner.gif") no-repeat;
  background-position: center center;
  padding: 44px 10px 0 10px;
  width: 10px;
  height: 14px;
  display: none;
}

table {
  table-layout: fixed;
}

.table {
  display: table;
  color: hsl(198,19%,72%);
}

.table .table-row {
  display: table-row;
}

.table th,
.table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table > thead:first-child > tr:first-child > th,
.table > thead > tr > th {
  padding: 12px 9px 10px;
  border-bottom: none;
  border-top: 1px solid #ececec;
  background: #f0f1f2;
  color: #444a4f;
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
}

.table > tbody > tr > td {
  padding: 10px 9px 9px;
  border: none;
  box-shadow: 0 1px rgba(0,0,0,.02) inset;
}

.table > tbody > tr:first-child > td {
  box-shadow: none;
}

.table-hover > tbody > tr:hover > td, 
.table-hover > tbody > tr:hover > th {
  background: rgba(0,8,14,.015);
}

.table > thead:first-child > tr:first-child > th.no-padding,
.table > thead > tr > th.no-padding,
.table > tbody > tr > td.no-padding {
  padding: 0;
}

.table .checkbox-replacement {
  padding: 0;
  margin: 0;
  height: 38px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.table .checkbox-replacement input[type=checkbox] {
  display: none;
}

.table .priority.icon:after {
  background: #f8f9fa;
}

.table .table-cell {
  vertical-align: top;
  display: table-cell;
  border-bottom: 1px solid #eeeeee;
}

.hero-two {
  width: 100%;
}
.hero-two .hero-left {
  width: 50%;
  float: left;
}
.hero-two .hero-right {
  width: 50%;
  float: right;
}

.panel-title {
  font-size: 14px;
}

#task {
  position: fixed;
  display: table;
  width: 100%;
  min-width: 1000px;
  top: 46px;
  display: none;
}

#task > .taskbar {
  display: table-row;
  z-index: 1040;
}

#task > .taskbar > div {
  padding: 0 4px 4px 4px;
  display: table-cell;
}

#task .task {
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

#task .task > a,
#task .task > a:hover {
  color: #ffffff;
  text-decoration: none;
}

#task .btn-default .task > a,
#task .btn-default .task > a:hover {
  color: #333333;
}

#task .taskbar .btn-small {
  padding: 3px 8px 4px;
  margin-top: 2px;
  font-size: 11px;
  font-weight: 300;
}

#task .taskbar .btn-default {
  background-color: #c3c3c3;
  border-color: #c3c3c3;
}

#task [data-type="close"] {
  margin-left: 5px;
  font-size: 13px;
  top: 1px;
}

#task .taskbar-items {
}

#task .taskbar-new {
  text-align: right;
  padding-right: 12px;
}

.max-size-scroll {
  max-height: 240px;
  overflow-y: scroll;
}

.inactive {
  color: #ddd !important;
}

/*
#content > *:not(.active) {
  display: none !important;
}
*/

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 23px;
  line-height: 29px;
  color: rgba(0,8,14,.73);
}

h2,
h2.popover-title {
  font-size: 19px;
  line-height: 25px;
  color: rgba(0,8,14,.73);
}

h3 {
  font-size: 13px;
  margin: 14px 0 6px;
  color: #a9bcc4;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

label {
  text-transform: uppercase;
  color: #999;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.1em;
  padding: 0 2px;
  margin-bottom: 6px;
}

.form-group + .form-group {
  margin-top: 0;
}

.form-group .help-message {
  float: right;
  margin-right: -23px;
  margin-top: -23px;
}

.form-control {
  height: 41px;
  line-height: 22px;
  font-weight: normal;
  box-shadow: none;
  border-radius: 3px;
  transition: none;
}

  .form-control:focus,
  .tokenfield.focus {
    box-shadow: none;
    border-color: #419ed7 !important;
  }

  .has-error .form-control,
  .has-error .form-control:focus {
    box-shadow: none;
    border-color: red !important;
  }

  .help-inline {
    color: red;
    font-size: 13px;
  }

.content {
  overflow: auto;
  position: relative;
  background-color: #f8f9fa;
}

  .content.fit {
    padding: 10px;
    background: #2c2d36;
    z-index: 1;
  }

.form-horizontal label {
  text-align: right;
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 130px;
  margin-top: 7px;
}
.form-horizontal .form-group .checkbox label {
  text-align: left;
  width: 100%;
  margin-top: 0;
  margin-bottom: 4px;
}

.form-stacked .checkbox label {
  color: inherit;
  font-size: 13px;
  text-transform: inherit;
  vertical-align: baseline;
  letter-spacing: inherit;
  display: block;
}


.pagination {
  margin: 0;
}

.pagination > li > a, 
.pagination > li > span {
  padding: 0;
  width: 31px;
  height: 28px;
  border-color: #ececec;
}

.pagination-counter {
  margin-right: 19px;
  line-height: 28px;
  color: #9c9c9b;
}

.pagination-items-range {
  color: #706f6f;
}

.page-header-title {
  margin-bottom: 15px;
}

.page-header-title h1 {
  margin-top: 13px;
}

.page-header-meta {
  margin-top: 10px;
  margin-left: auto;
}

.page-header-meta.horizontal .pagination {
  margin-left: auto;
}

.dropdown-menu .count {
  padding-top: 1px;
  margin-left: 10px;
}

.help-block {
  color: #bcbcbc;
}
.form-horizontal .help-inline, .form-horizontal .help-block {
  font-size: 12px;
  margin-top: 4px;
}

.form-horizontal .control-label {
  width: 130px;
}
.form-horizontal .controls {
  margin-left: 150px;
}

/* replace music icon with attachment */
.icon-attachment {
  background-position: -24px 0;
}

/*
 * hero-unit (used on getstarted, login, signup)
 */

.hero-unit {
  width: 500px;
  margin: 10px 0;
  padding: 23px 25px;
  border: 1px solid #e5f0f5;
  color: inherit;
  background-color: white;
  border-radius: 6px;
  box-shadow: 
    0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

  .hero-unit h1,
  .hero-unit h2 {
    margin-top: 0;
  }

.login, .getstarted, .reset_password, .signup {
  padding: 10px;
  height: auto;
  background: hsl(234,10%,19%);
}

.login .hero-unit {
  width: 430px;
}

  .login .logo {
    margin: 30px auto;
    display: block;
  }

  .login p {
    margin: 10px 0;
    max-width: 400px;
    color: hsl(210,8%,42%);
    text-align: center;
  }

  .login hr {
    margin: 10px 0;
    border-top-color: rgba(255,255,255,.15);
    width: 100%;
    max-width: 400px;
  }

  .login p a {
    color: hsl(210,8%,54%);
    text-decoration: underline;
  }

  .subtle-link {
    color: rgba(0,0,0,.32);
    text-decoration: underline;
  }

  .subtle-link:hover {
    color: rgba(0,0,0,.5);
  }

ol.tabs {
  list-style: decimal inside;
}

ol.tabs li {
  display: list-item;
}

.tabs {
  margin-bottom: 20px;
  color: #b8b8b8;
  border: 1px solid rgba(0,8,14,.08);
  border-radius: 3px;
}

  .tabs-condensed .tab {
    padding-left: 5px;
    padding-right: 5px;
  }

  .progress-tabs .tab {
    cursor: default;
  }

  .tab {
    height: 39px;
    padding: 9px;
    text-align: center;
    border-right: 1px solid rgba(0,8,14,.08);
    cursor: pointer;
    flex-grow: 1;
  }

  .tab.active {
    color: white;
    background: #444a4f;
    box-shadow: none;
  }

  .tab:first-child {
    border-radius: 3px 0 0 3px;
  }

  .tab:last-child {
    border-radius: 0 3px 3px 0;
    border-right: none;
  }

  .wide-tabs {
    width: 60%;
    margin: 25px auto 20px;
    font-size: 15px;
    font-weight: 300;
    background: white;
    border-radius: 8px;
  }

  .wide-tabs .tab:first-child {
    border-radius: 8px 0 0 8px;
  }

  .wide-tabs .tab:last-child {
    border-radius: 0 8px 8px 0;
  }

.separator {
  margin: 20px 0;
  position: relative;
  text-align: center;
}

  .separator:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #e6e6e6;
  }

  .separator-text {
    padding: 0 10px;
    color: #999;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background: white;
    display: inline-block;
    position: relative;
  }

.auth_provider {
  padding: 9px 7px 8px;
  color: white;
  line-height: 22px;
  text-align: center;
  border-radius: 2px;
}

  .auth_provider:not(:last-child) {
    margin-right: 8px;
  }

  .auth_provider:hover {
    color: white;
    cursor: pointer;
    text-decoration: none;
  }

  .auth_provider.facebook {
    background-color: #4f699c;
  }

  .auth_provider.google {
    background-color: #d8543c;
  }

  .auth_provider.twitter {
    background-color: #2eaee1;
  }

.provider_icon {
  width: 29px;
  height: 22px;
}

  .facebook .provider_icon {
    background-image: url(<%= asset_path "facebook.svg" %>);
  }

  .google .provider_icon {
    background-image: url(<%= asset_path "google.svg" %>);
  }

  .twitter .provider_icon {
    background-image: url(<%= asset_path "twitter.svg" %>);
  }

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(<%= asset_path "sprite.svg" %>);
  background-repeat: no-repeat;
  background-position: 20px 20px; /* make icon empty */
}

  .dashboard.icon,
  .overviews.icon,
  .customers.icon,
  .group.icon,
  .message.icon,
  .tools.icon,
  .person.icon {
    width: 24px;
    height: 25px;
  }

  .dashboard.icon {
    background-position: 0 0;
  }

  .overviews.icon {
    background-position: -24px 0;
  }

  .group.icon,
  .customers.icon {
    background-position: -48px 0;
  }

  .message.icon {
    background-position: -72px 0;
  }

  .tools.icon {
    background-position: -96px 0;
  }

  .person.icon {
    background-position: -120px 0;
  }

  .light.cog.icon {
    background-position: 0 -56px;
  }

  .dark.cog.icon {
    background-position: 0 -76px;
  }

  .green.plus.icon {
    background-position: -20px -56px;
  }

  .white.plus.icon {
    background-position: -20px -76px;
  }

  .signout.icon {
    width: 15px;
    height: 19px;
    background-position: 0 -96px;
  }

  .priority.icon {
    background: none;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    position: relative;
  }

  .modified.priority.icon {
    width: 12px;
    height: 12px;
    background: none !important;
    border: 1px solid;
  }

    .priority.icon:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -3px 0 0 -3px;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background: #2c2d36;
    }

    .modified.priority.icon:after {
      -webkit-animation: fade 1s ease 2s infinite alternate;
         -moz-animation: fade 1s ease 2s infinite alternate;
          -ms-animation: fade 1s ease 2s infinite alternate;
              animation: fade 1s ease 2s infinite alternate;
    }

    @-webkit-keyframes fade { from { opacity: 0 } to { opacity: 1 } }
       @-moz-keyframes fade { from { opacity: 0 } to { opacity: 1 } }
        @-ms-keyframes fade { from { opacity: 0 } to { opacity: 1 } }
            @keyframes fade { from { opacity: 0 } to { opacity: 1 } }

  .close.icon {
    position: relative;
    background: none;
    opacity: 1 !important;
  }

  .close-task.icon {
    background: #2c2d36;
    border-radius: 100%;
  }

  .close.icon:before,
  .close.icon:after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 10%;
    height: 80%;
    width: 2px;
    background: #85888a;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .close.icon:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .close-task.icon:before,
  .close-task.icon:after {
    top: 20%;
    height: 60%;
    background: #586066;
  }

  .organisation.icon {
    height: 13px;
    width: 14px;
    background-position: 0 -115px;
  }

  .icon-switch:hover .organisation.icon,
  .task.active .organisation.icon {
    background-position: 0 -128px;
  }

  .user.icon {
    height: 13px;
    width: 14px;
    background-position: -14px -115px;
  }

  .icon-switch:hover .user.icon,
  .task.active .user.icon {
    background-position: -14px -128px;
  }

  .note.icon {
    height: 13px;
    width: 14px;
    background-position: -28px -115px;
  }

  .icon-switch:hover .note.icon,
  .task.active .note.icon {
    background-position: -28px -128px;
  }

  .pen.icon {
    height: 13px;
    width: 14px;
    background-position: -42px -115px;
  }

  .icon-switch:hover .pen.icon,
  .task.active .pen.icon {
    background-position: -42px -128px;
  }

 .important.icon {
    height: 13px;
    width: 14px;
    background-position: -56px -115px;
  }
  .icon-switch:hover .important.icon,
  .task.active .important.icon {
    background-position: -56px -128px;
  }

  .tools.icon {
    height: 13px;
    width: 14px;
    background-position: -70px -115px;
  }
  .icon-switch:hover .tools.icon,
  .task.active .tools.icon {
    background-position: -70px -128px;
  }

  .clock.icon {
    height: 13px;
    width: 14px;
    background-position: -84px -115px;
  }
  .icon-switch:hover .clock.icon,
  .task.active .clock.icon {
    background-position: -84px -128px;
  }

  .channel.icon {
    width: 17px;
    height: 16px;
  }

  .email.channel.icon {
    background-position: 0 -141px;
  }

  .received-calls.channel.icon {
    background-position: -17px -141px;
  }

  .outbound-calls.channel.icon {
    background-position: -34px -141px;
  }

  .facebook.channel.icon {
    background-position: -51px -141px;
  }

  .twitter.channel.icon {
    background-position: -68px -141px;
  }

  .gray.email.channel.icon {
    background-position: -85px -141px;
  }

  .gray.received-calls.channel.icon {
    background-position: -102px -141px;
  }

  .gray.outbound-calls.channel.icon {
    background-position: -119px -141px;
  }

  .gray.facebook.channel.icon {
    background-position: -136px -141px;
  }

  .gray.twitter.channel.icon {
    background-position: -153px -141px;
  }

  .white.email.channel.icon {
    background-position: -170px -141px;
  }

  .white.received-calls.channel.icon {
    background-position: -187px -141px;
  }

  .white.outbound-calls.channel.icon {
    background-position: -204px -141px;
  }

  .white.facebook.channel.icon {
    background-position: -221px -141px;
  }

  .white.twitter.channel.icon {
    background-position: -238px -141px;
  }

  .white.note.channel.icon {
    background-position: -255px -141px;
  }

  .white.phone.channel.icon {
    background-position: -272px -141px;
  }

  .gray.phone.channel.icon {
    background-position: -289px -141px;
  }

  .mood.icon {
    width: 60px;
    height: 59px;
  }

  .mood.icon.superbad-state {
    background-position: 0 -157px;
  }

  .mood.icon.bad-state {
    background-position: -60px -157px;
  }

  .mood.icon.ok-state {
    background-position: -120px -157px;
  }

  .mood.icon.good-state {
    background-position: -180px -157px;
  }

  .mood.icon.supergood-state {
    background-position: -240px -157px;
  }

  .stopwatch.icon {
    width: 77px;
    height: 83px;
    background-position: 0 -216px;
  }

  .in-process.icon {
    width: 64px;
    height: 64px;
    background-position: -77px -216px;
  }

  .in-process.superbad-state,
  .reopening.superbad-state {
    background-color: #f35910;
  }

  .in-process.bad-state,
  .reopening.bad-state {
    background-color: #f6820b;
  }

  .in-process.ok-state,
  .reopening.ok-state {
    background-color: #faab00;
  }

  .in-process.good-state,
  .reopening.good-state {
    background-color: #a9ac41;
  }

  .in-process.supergood-state,
  .reopening.supergood-state {
    background-color: #38ae6a;
  }

  .reopening.icon {
    width: 68px;
    height: 47px;
    background-position: -141px -216px;
  }

  .stat-all-tickets.icon {
    width: 48px;
    height: 83px;
    background-position: -209px -216px;
  }

  .stat-tickets {
    height: 83px;
    margin-right: 4px;
    margin-bottom: -9px;
  }

  .stat-ticket.icon {
    width: 48px;
    height: 10px;
    margin-top: -7px;
    margin-bottom: 2px;
  }

  .stat-ticket.superbad-state {
    background-position: -257px -256px;
  }

  .stat-ticket.bad-state {
    background-position: -257px -246px;
  }

  .stat-ticket.ok-state {
    background-position: -257px -236px;
  }

  .stat-ticket.good-state {
    background-position: -257px -226px;
  }

  .stat-ticket.supergood-state {
    background-position: -257px -216px;
  }

  .left.arrow.icon,
  .right.arrow.icon {
    width: 8px;
    height: 12px;
    opacity: .39;
  }

  .disabled.left.arrow.icon,
  .disabled.right.arrow.icon {
    opacity: .23;
  }

  .left.arrow.icon {
    background-position: 0 -299px;
  }

  .right.arrow.icon {
    background-position: -8px -299px;
  }

  .checkbox.icon {
    min-height: 0; /* overwriting bootstrap */
    margin: 0; /* overwriting bootstrap */
    width: 10px;
    height: 10px;
    background-position: -16px -299px;
  }

  .white.checkbox.icon {
    background-color: white;
  }

  :checked + .checkbox.icon {
    background-position: -26px -299px;
  }

  .arrow-right.icon {
    width: 12px;
    height: 11px;
    background-position: -36px -299px;
  }

  .delete.icon {
    width: 9px;
    height: 9px;
    background-position: -48px -300px;
  }

  .dark.group.icon {
    width: 23px;
    height: 24px;
    background-position: 0 -311px;
  }

  .dark.message.icon {
    width: 19px;
    height: 19px;
    background-position: -23px -311px;
  }

  .dark.person.icon {
    width: 11px;
    height: 24px;
    background-position: -42px -311px;
  }

  .split.action.icon {
    width: 18px;
    height: 15px;
    background-position: 0 -336px;
  }

  .reply.action.icon {
    width: 14px;
    height: 15px;
    background-position: -18px -336px;
  }

  .internal.action.icon,
  .public.visibility.icon {
    width: 11px;
    height: 15px;
    background-position: -32px -336px;
  }

  .public.action.icon,
  .internal.visibility.icon {
    width: 11px;
    height: 15px;
    background-position: -43px -336px;
  }

  .recipients.icon {
    width: 16px;
    height: 12px;
    background-position: -54px -339px;
  }


/*
 * removed margin of forms to not break the layout with submit buttons within <form></form> area e. g. for modal dialogs
 */
form {
  margin: 0;
}

.form-controls {
  margin-top: 10px;
}

form a.standalone {
  line-height: 40px;
  margin: 0 5px;
}

  form a.standalone.align-right {
    margin-left: auto;
  }

.modal-header {
  padding: 10px 15px;
}

.modal .form-group .controls {
  width: 65%;
}

.modal .form-group {
  margin-bottom: 2px;
}

.modal-footer {
  margin-top: 0;
  padding: 14px 20px 20px;
}

footer {
  clear: both;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 22px;
}

.can-move {
  cursor: move;
}

.can-move-placeholder {
    border: 1px dashed #DDD;
    background: #EEE;
    margin-top: 5px;
    margin-bottom: 5px;
}

.customer_info {
}

.customer_info ul.nav > li {
  width: 50%;
}
.customer_info ul.nav > li > a {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.customer_info .thumbnail {
  position: absolute;
  right: 20px;
}
.customer_info textarea {
  padding-left: 10px;
  width: 100%;
  border-color: #eee;
}

.overview {
  padding: 10px 20px;
}

.bulk-action {
  background: white;
  z-index: 1;
  box-shadow: 
    0 -1px rgba(0,0,0,.05),
    0 -2px rgba(0,0,0,.03),
    0 -3px rgba(0,0,0,.01);
}

.show_toogle {
  font-size: 10px;
  line-height: 12px;
  color: #999999;
}

.well-muted {
  background-color: whiteSmoke;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.merged, .merge:hover {
  text-decoration: line-through;
}

.not-active {
  text-decoration: line-through;
}
.not-active a {
  color: #bbb;
}

.customer-info {
  width: 100%;
  padding-top: 7px;
}

.inline-edit {
  padding: 4px;
}
.inline-edit:hover {
  padding: 3px;
  border: 1px dotted #F92;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.translation {
  border: 1px dotted #F92;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.translation:hover {
}

.translation .icon-edit {
  display: none;
}

.translation:hover .icon-edit {
  display: inline-block;
}

.sub_attribute .control-label {
  width: 60px;
}
.sub_attribute .controls {
  margin-left: 80px;
}

#splash {
  background-color: #eee;
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
}
#splash .logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  width: 100px;
}

.btn {
  font-size: 14px;
  padding: 9px 24px 8px;
}

.btn-primary {
  color: white;
  background: #419ed7;
  border-color: #419ed7;
}

.btn-create,
.btn-create:hover {
  color: white;
  background: hsl(145,51%,45%);
}

.navigation {
  width: 260px;
  background: #26272e;
  position: relative;
}

  .navigation:empty {
    display: none !important;
  }

  .navigation .navbar-nav,
  .navigation .navbar-nav > li {
    float: none;
  }

  .navigation .nav > li.active > a,
  .navigation .nav > li > a:hover,
  .navigation .nav > li > a:focus {
    background: none;
    color: #F0FAFF;
  }

  .navbar-nav > li > a {
    padding: 0 15px;
    height: 48px;
    color: rgba(240, 250, 255, .25);
    border-bottom: 1px solid rgba(240, 250, 255, .05);
  }

  .navigation .nav > li.active > a {
    background: #389ed9;
  }

  .navigation .nav-item-icon .icon {
    margin-right: 15px;
    opacity: 0.25;
    vertical-align: bottom;
  }

  .navigation .nav > li.active > a .icon,
  .navigation .nav > li > a:hover .icon,
  .navigation .nav > li > a:focus .icon {
    opacity: 1;
  }

.tasks {
  background: #2c2d36;
  overflow: auto;
}

  .tasks.tasks-standalone {
    background: none;
    margin-top: 8px;
  }

    .tasks-standalone .task {
      padding: 0;
      margin-bottom: 9px;
    }

    .tasks-standalone .icon-holder {
      width: 20px;
    }

    .tasks-standalone .icon-holder .icon {
      margin-top: 4px;
    }

    .tasks-standalone .time {
      color: hsl(198,19%,72%);
    }

    .tasks-standalone .task .priority.icon:after {
      background: white;
    }

  .task {
    padding: 10px 15px 7px 0;
    cursor: pointer;
    position: relative;
  }

    .tasks-navigation .task {
      height: 38px;
      border-bottom: 1px solid #33363e;
    }

    .tasks-navigation .task:not(.active):hover {
      background: #26272e;
    }

    .tasks-navigation .name {
      color: #808080;
    }

    .tasks-navigation .icon-holder {
      width: 30px;
    }

    .tasks-navigation .icon-holder .icon {
      margin-right: 3px;
      margin-top: -3px;
    }

  .task:hover {
    text-decoration: none;
  }

  .task .modified.priority.icon {
    margin-right: 8px;
  }

  .task.active {
    background: #389ed9;
  }

  .task.active .name {
    color: white;
  }

  .task.active .priority.icon,
  .task.active .modified.priority.icon,
  .task.active .modified.priority.icon:after {
    background: white;
    border-color: white;
  }

  .level-1 {
    color: #38ae6a;
  }

  .level-1.priority.icon,
  .level-1 .priority.icon,
  .level-1.active,
  .level-1.active .priority.icon:after,
  .level-1 .modified.priority.icon,
  .level-1 .modified.priority.icon:after {
    background-color: #38ae6a;
    border-color: #38ae6a;
    color: #38ae6a;
  }

  .level-2 {
    color: #f35910;
  }

  .level-2.priority.icon,
  .level-2 .priority.icon,
  .level-2.active,
  .level-2.active .priority.icon:after,
  .level-2 .modified.priority.icon,
  .level-2 .modified.priority.icon:after {
    background-color: #f35910;
    border-color: #f35910;
    color: #f35910;
  }

  .level-3 {
    color: #faab00;
  }

  .level-3.priority.icon,
  .level-3 .priority.icon,
  .level-3.active,
  .level-3.active .priority.icon:after,
  .level-3 .modified.priority.icon,
  .level-3 .modified.priority.icon:after {
    background-color: #faab00;
    border-color: #faab00;
  }

  .task .close-task.button {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    padding-left: 12px;
    height: 100%;
    visibility: hidden;
  }

  .task:hover .close-task.button {
    visibility: visible;
  }

  .close-task.button:hover .icon {
    background: #972e29;
  }

  .close-task.button:hover .icon:after,
  .close-task.button:hover .icon:before {
    background: white;
  }

.search {
  padding: 10px 15px 10px 10px;
  border-bottom: 1px solid rgba(240, 250, 255, .05);
}
  
  .search-holder {
    margin-right: 15px;
    position: relative;
    transition: 240ms;
  }

  .empty-search {
    position: absolute;
    right: 0;
    top: 0;
    height: 30px;
    width: 40px;
    z-index: 1;
    visibility: hidden;
  }

    .filled.search .empty-search {
      visibility: visible;
    }

  .search input {
    width: 100%;
    padding: 5px 10px 5px 33px;
    height: 30px;
    color: #ECECEC;
    line-height: 20px;
    background: #31373b url(<%= asset_path "sprite.svg" %>) no-repeat 10px -26px;
    outline: none;
    border: none;
    border-radius: 15px;
    position: relative;
    z-index: 1;
  }

  .search.focused .search-holder {
    margin-right: -46px;
  }

  .search.focused .logo {
    opacity: 0;
  }

  .search .logo {
    width: 41px;
    height: 36px;
    background: url(<%= asset_path "logo.svg" %>);
    transition: 240ms;
    cursor: pointer;
    position: relative;
  }

    .logo .activity-counter {
      height: 19px;
      min-width: 19px;
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 0 3px;
      font-size: 11px;
      line-height: 17px;
      text-align: center;
      color: white;
      text-shadow: 0 1px 1px rgba(0,0,0,.21);
      background: hsl(360,71%,60%);
      border-radius: 10px;
      border: 2px solid hsl(232,10%,16%);
    }

  .search .custom-dropdown-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #26272e;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 56px;
    z-index: 1002;
    display: none;
    overflow: scroll;
  }

  .search.open .custom-dropdown-menu {
    display: block;
  }

  .search .custom-dropdown-menu .divider {
    height: 1px;
    background: #2f3238;
    margin: 14px 0 17px;
  }

  .search .custom-dropdown-menu > li > a {
    height: 30px;
    padding: 0 15px 0 10px;
    color: #808080;
    border: none;
  }

  .search .custom-dropdown-menu > li > a .icon {
    margin-right: 13px;
  }

  .search .custom-dropdown-menu > li:hover > a,
  .search .custom-dropdown-menu > li.active > a {
    background: #3fa9f5;
    color: white;
    text-decoration: none;
  }

  .search .custom-dropdown-menu > li:hover > a .priority.icon,
  .search .custom-dropdown-menu > li.active > a .priority.icon {
    background: white;
  }

  .search .custom-dropdown-menu > li:hover > a .priority.icon:after,
  .search .custom-dropdown-menu > li.active > a .priority.icon:after {
    background: #3fa9f5;
  }

  .user-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
  }

    .user-menu > li {
      background: #26272e;
    }

    .user-menu .list-button {
      height: 60px;
      position: relative;
      cursor: pointer;
      z-index: 1001;
    }
    
    .user-menu .list-button *:not(.dropdown-nose) {
      position: relative;
    }

    .user-menu > li:hover .list-button:before {
      content: '';
      position: absolute;
      top: 4px;
      right: 4px;
      bottom: 4px;
      left: 4px;
      background: white;
    }

    .user-menu li.add:hover .list-button:before {
      background: #38ae6a;
    }

    .user-menu .dark.cog,
    .user-menu > li:hover .light.cog,
    .user-menu > li.active .light.cog,
    .user-menu .white.plus,
    .user-menu > li:hover .green.plus,
    .user-menu > li.active .green.plus {
      display: none;
    }

    .user-menu > li.settings:hover .dark.cog,
    .user-menu > li.settings.active .dark.cog,
    .user-menu > li.add:hover .white.plus,
    .user-menu > li.add.active .white.plus {
      display: block;
    }

    .user-menu > li:not(:last-child) {
      border-right: 1px solid #2c2d36;
    }

  .dropdown-nose {
    position: absolute;
    border: 7px solid transparent;
    border-bottom: none;
    border-top: 7px solid white;
    left: 50%;
    margin-left: -7px;
    top: -6px;
    display: none;
  }

  li.add .dropdown-nose {
    border-top-color: #38af6e;
  }

  .open.dropdown .dropdown-nose,
  .open.dropup .dropdown-nose {
    display: block;
  }

  .user-menu .dropdown-menu {
    padding: 0;
    border-radius: 0;
    margin-bottom: 5px;
    min-width: 0;
    left: 10px;
    right: 15px;
  }

    .user-menu li.add .dropdown-menu {
      background-color: #38af6e;
    }

    .user-menu li.add .dropdown-menu > li > a {
      color: white;
    }

    .user-menu li.add .dropdown-menu .divider {
      background: #4cb77c;
    }

  .user-menu .dropdown-menu .divider {
    margin: 0;
  }

  .user-menu .dropdown-menu > li > a {
    height: 40px;
    padding: 10px 15px;
    color: #2594d4;
  }

  .user-menu .dropdown-menu > li > a:hover {
    background: rgba(0,0,0,.05);    
  }

.avatar {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  background-color: rgba(0,0,0,.05);
  border-radius: 100%;
  display: inline-block;
  vertical-align: bottom;
}

  .big.avatar {
    width: 50px;
    height: 50px;
  }

.sidebar {
  width: 32%;
  max-width: 300px;
  padding: 8px 20px 20px 20px;
  background: white;
  border-right: 1px solid #e6e6e6;
  overflow: auto;
}

  .main + .sidebar {
    border-right: none;
    border-left: 1px solid #e6e6e6;
  }

.NavBarAdmin.sidebar {
  padding-top: 1px;
  width: 280px;
}

  .nav-stacked > li + li {
    margin-top: 0;
  }

  .nav-stacked > li:last-child a {
    border-bottom: 1px solid #f2f2f3;
  }

  .nav-pills > li > a {
    color: #0f94d6;
    border-radius: 0;
    padding: 8px 0;
    border-top: 1px solid #f2f2f3;
  }

  .nav-pills > li:hover > a {
    background: #f2f2f3;
  }

  .nav-pills > li:hover > a,
  .nav-pills > li:hover + li > a {
    border-color: transparent;
  }

  .nav-pills > li.active > a,
  .nav-pills > li.active > a:hover,
  .nav-pills > li.active > a:focus {
    color: white;
    background: #2c2d36;
  }

  .nav-pills > li:hover > a,
  .nav-pills > li.active > a,
  .nav-pills > li.active > a:hover,
  .nav-pills > li.active > a:focus {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .sidebar:not(.NavBarAdmin) .nav-pills > li:first-child > a {
    border-top: none;
  }

  .badge {
    padding: 0;
    font-size: inherit;
    font-weight: normal;
    color: #d0d2d3;
    background: none;
    border-radius: 0;
  }

  .nav-pills > li > a > .badge {
    margin-left: auto;
  }

  a.list-group-item.active > .badge, 
  .nav-pills > .active > a > .badge {
    color: #96969b;
    background: none;
  }

.main {
  padding: 10px 20px;
  overflow: auto;
  position: relative;
}

  .main.no-padding {
    padding: 0;
  }

.popover {
  width: 372px;
  max-width: 9999px;
  border-radius: 0;
  border: none;
  z-index: 1110;
  box-shadow: 0 1px 14px rgba(0,8,14,.25);
}
  
  .popover-title {
    border: none;
    background: none;
    padding: 20px 17px 4px;
  }

  .popover-content {
    padding: 0 17px 10px;
    max-height: 600px;
    overflow-y: scroll;
  }

  .popover.right { margin-left: 4px; }
  .popover.right > .arrow {
    border-right: none;
    left: -9px;
  }

  .popover.top { margin-bottom: 9px; }
  .popover.top > .arrow {
    border-top: none;
    bottom: -9px;
  }

  .popover.left { margin-right: 9px; }
  .popover.left > .arrow {
    border-left: none;
    right: -9px;
  }

  .popover.bottom { margin-top: 9px; }
  .popover.bottom > .arrow {
    border-bottom: none;
    top: -9px;
  }

  .popover > .arrow:after {
    border-width: 8px;
  }

  .popover .priority.icon:after {
    background: white;
  }

  .popover .person .company {
    color: #a1a4a7;
  }

  .popover hr {
    margin: 8px 0;
  }

  .popover .person .company:before { content: '('; }
  .popover .person .company:after { content: ')'; }

  .popover .column h3 {
    margin: 8px 0 1px;
  }

  .popover .column {
    margin-bottom: 8px;
  }

.stat-widgets {
  margin: 0 -7px 20px;
}

  .stat-widget {
    height: 200px;
    margin: 7px; 
    padding: 13px;
    text-align: center;
    line-height: 20px;
    background: white;
    border: 1px solid #e5f0f5;
    border-radius: 1px;
    box-shadow: 0 1px rgba(0,8,14,.02);
  }

    .stat-widget h3 {
      margin: 2px 0 8px;
      color: #444a4f;
      letter-spacing: 0;
      font-weight: normal;
    }

    .stat-widget .stat-label {
      color: #444a4f;
    }

    .stat-widget .stat-detail {
      color: #b4b7b9;
    }

    .channel-distribution.stat-widget {
      color: #a1a4a7;
    }

  .time.stat-widget .stat-graphic .icon {
    position: relative;
  }

    .time.stat-widget .stat-amount {
      margin-top: 16px;
      text-align: center;
      font-size: 30px;
      color: white;
      text-shadow: 0 2px rgba(0,8,14,.2);
      position: relative;
    }

    .time.stat-widget .stat-dial {
      position: absolute;
      top: 21px;
      left: 14px;
    }

.stats-channel {
  padding: 8px 0 7px;
  margin-bottom: -7px;
  border-radius: 3px;
}

.stats-channel:hover {
  background: rgba(0,8,14,.03);
}

  .stats-channel .channel-bars {
    height: 73px;
    margin: 16px 0 15px;
    padding: 2px 12px;
    width: 100%;
    background: linear-gradient(to top, #f2f2f3, #f2f2f3 1px, transparent 1px);
    background-position: center bottom;
    background-size: 100% 12px;
  }

  .channel-bars .channel-bar {
    border-radius: 5px;
    width: 10px;
    background: #a9bcc4;
  }

  .channel-bars .channel-bar.secondary {
    opacity: .38;
  }

.activity.sidebar {
  width: 370px;
  padding: 0;
  border-left: 1px solid #e8e8e8;
}

  .activity h2 {
    margin-left: 19px;
    margin-bottom: 15px;
    margin-right: 26px;
  }

  .activity-entry.state--read {
    opacity: 0.5;
  }

  .activity-avatar {
    padding-top: 16px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 10px;
  }

    .activity-avatar:hover .avatar {
    }

  .activity-body {
    color: #444a4f;
    padding: 16px 0 16px 2px;
    position: relative;
  }

    .activity-body:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 30px;
      left: 8px;
      border-bottom: 1px solid #f2f2f3;
    }

  .activity-body:hover {
    color: #444a4f;
    text-decoration: none;
  }

    .activity-body:hover .activity-text {
      text-decoration: underline;
    }

  .activity-message {
    padding-right: 0;
  }

  .activity-time {
    margin-top: 2px;
    color: #a1a4a7;
    display: block;
  }

  .activity .priority.icon:after {
    background: white;
  }

.form-inline .input-group-addon,
.form-inline .form-control {
  background: white;
  border: none;
  line-height: 1;
}

  .form-inline .form-group {
    overflow: hidden;
    flex-grow: 1;
    position: relative;
    height: 60px;
  }

    .form-inline .form-group:last-child {
      flex-grow: 0;
    }

    .form-group.is-changed {
      position: relative;
    }

    .form-group.is-changed:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background: repeating-linear-gradient(-45deg, hsl(193,18%,90%), hsl(193,18%,90%) 4px, transparent 4px, transparent 7px) repeat center;
      background-size: 9px 9px;
    }

    .form-inline .form-group.is-changed:before {
      width: 100%;
      height: 3px;
    }

    .form-group.is-changed label {
      color: hsl(198,19%,72%);
      position: relative;
    }

    .form-group.is-changed label:before {
      position: absolute;
      content: '';
      left: -10px;
      width: 5px;
      height: 5px;
      top: 50%;
      margin-top: -4px;
      border-radius: 100%;
      background: hsl(198,19%,72%);
    }

  .form-inline .form-group .btn {
    margin: 10px;
  }

  .form-inline .form-group:not(:last-child) {
    border-right: 1px solid #f0f0f0;
  }

  .form-inline .input-group-addon {
    padding: 0;
    margin: 10px 18px 0;
    font-size: 13px;
    letter-spacing: 0.05em;
    color: #ccc;
    display: block;
    position: relative;
  }

  .form-inline .form-control {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    padding: 28px 18px 18px;
    float: none;
    display: block;
    border-radius: 0;
    background: none;
    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
            appearance: none;
  }

.ticketZoom {
  background: #f8f9fa;
}

.ticketZoom .page-header {
  margin-top: 62px;
  margin-bottom: 46px;
  border-bottom: none;
}

  .ticket-title {
    max-width: 90%;
  }

    .ticket-title h1 {
      margin-top: 15px;
      margin-bottom: 8px;
      text-align: center;
    }

  .task-subline {
    text-align: center;
    display: block;
  }

.bubble-grid {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 21px;
}

  .bubble-gap {
    margin-left: 15px !important;
  }

  .customer.ticket-article-item .bubble-gap {
    margin-left: 0 !important;
    margin-right: 15px !important;
  }

.ticket-article-item {
  padding-bottom: 33px;
  position: relative;
}

  /* 
    clip the article-meta to not stand out on the other side 
    of the text-bubble if the text bubble is small
  */

  .article-meta-clip {
    overflow: hidden;
    position: relative;
    height: 100%;
  }

  .article-content {
    position: relative;
    margin-right: 55px;
  }

    .customer.ticket-article-item .article-content {
      margin-right: 0;
      margin-left: 55px;
    }

  .article-content-meta {
    padding: 0 55px;
    position: absolute;
    width: 100%;
  }

  .article-meta {
    background: #2c2d36;
    color: white;
    padding: 21px 25px 11px;
    margin: 0 12px;
  }

    .article-meta.bottom {
      padding-top: 17px;
      padding-bottom: 8px;
    }

    .article-meta-row {
      margin-bottom: 5px;
    }

    .article-meta-key {
      width: 13%;
      text-transform: uppercase;
    }

    .article-meta-value {
      margin-left: 8px;
    }

    .article-meta .icon {
      vertical-align: top;
      margin: 1px 3px 0 0;
    }

    .article-meta .text-muted {
      color: #96969b;
    }

  .internal-border {
    padding: 5px;
    border-radius: 8px;
    margin: -5px;
  }

  .is-internal .internal-border {
    background: repeating-linear-gradient(45deg, hsl(18,79%,89%), hsl(18,79%,89%) 5px, hsl(210,17%,98%) 5px, hsl(210,17%,98%) 6px);
    background-size: 8px 8px;
  }

  .is-internal .bubble-arrow {
    display: none;
  }

  .text-bubble {
    padding: 10px 20px;
    white-space: pre-wrap;
    background: white;
    border-radius: 2px;
    border: 1px solid hsl(240,4%,95%);
    box-shadow: 0 0 1px rgba(0,0,0,.06) inset;
    position: relative;
  }

    .ticket-article-item.state--folde-out .text-bubble {
      border-color: hsl(0,0%,90%);
    }

  .customer.ticket-article-item .text-bubble {
    background: #e5f0f5;
    border-color: hsl(199,38%,92%);
    box-shadow: none;
  }

    .customer.ticket-article-item.state--folde-out .text-bubble {
      border-color: hsl(199,44%,85%);
    }

    .bubble-arrow {
      position: absolute;
      width: 7px;
      height: 9px;
      left: -6px;
      top: 15px;
      overflow: hidden;
    }

    .bubble-arrow:after {
      content: "";
      position: absolute;
      top: -1px;
      left: 2px;
      width: 11px;
      height: 11px;
      background: white;
      border: 1px solid hsl(240,4%,95%);
      box-shadow: 0 0 1px rgba(0,0,0,.06) inset;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
    }

    .ticket-article-item.is-internal .bubble-arrow:after {
      background: #f2def2;
      border: #eed3d7;
    }

    .customer.ticket-article-item .bubble-arrow {
      left: auto;
      right: -6px;
    }

    .customer.ticket-article-item .bubble-arrow:after {
      background: #e5f0f5;
      left: auto;
      right: 2px;
      border-color: hsl(199,38%,92%);
      box-shadow: none;
    }

  .ticket-article-item .task-subline {
    margin-top: 12px;
  }

  .article-action {
    padding: 5px;
    margin: 5px 12px;
    color: black;
    font-size: 12px;
    text-align: center;
    opacity: 0.5;
    cursor: pointer;
    -webkit-user-select: none;
            user-select: none;
  }

    .article-action:hover {
      color: black;
      text-decoration: none;
      opacity: 1;
    }

    .article-action .icon {
      margin-right: 10px;
      vertical-align: top;
    }

.ticket-edit {
  margin-top: auto;
  margin-bottom: 36px;
}

  .bottom-form {
    background: white;
  }

  .ticket-edit .avatar {
    margin-bottom: 3px;
  }

.edit-controls {
  position: relative;
}

  .edit-control-item {
    width: 38px;
    height: 36px;
    position: absolute;
    top: 38px;
    display: none;
  }

  .edit-control-item:nth-child(3) {
    top: 74px;
  }

  .edit-control-item:nth-child(4) {
    top: 110px;
  }

  .edit-control-item:not(:last-child) {
    border-bottom: 1px solid #e6e6e6;
  }

  .pop-selectable .icon {
    opacity: 0.3;
    pointer-events: none;
  }

  .pop-selectable:hover .icon {
    opacity: 1;
  }

  .visibility-toggle > * {
    height: 36px;
    width: 38px;
    position: absolute;
  }

  .visibility-toggle .icon {
    display: block;
  }

  .visibility-toggle .icon,
  .recipient-picker {
    opacity: 0.2;
  }

  .ticket-edit.is-public .internal-visibility {
    visibility: hidden;
  }

  .ticket-edit.is-internal .visibility-toggle .icon {
    opacity: 1;
  }

  .ticket-edit.is-internal .public-visibility {
    visibility: hidden;
  }

  .ticket-edit .recipient-picker {
    height: 36px;
    position: relative;
    transition: 300ms;
  }

  .ticket-edit .recipient-picker.is-open {
    opacity: 1;
  }

    .recipient-picker .icon {
      margin-top: -2px;
    }

    .recipient-count {
      margin-left: 3px;
      margin-top: 1px;
      line-height: 1;
    }

    .recipient-list {
      position: absolute;
      background: hsl(234,10%,19%);
      left: 48px;
      color: white;
    }

      .recipient-picker.is-open .recipient-list {
        display: block;
      }

    .list-arrow {
      position: absolute;
      top: 210px;
      left: -6px;
      margin-top: -6px;
      border-right: 6px solid #2c2d36;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
    }

    .list-head {
      height: 38px;
      line-height: 38px;
      padding: 1px 19px 0;
      text-transform: uppercase;
    }

      .list-head div {
        position: relative;
        left: -20px;
      }

    .list-entry {
      width: 340px;
      height: 60px;
      padding: 0 16px;
      border-top: 1px solid hsl(240,6%,27%);
    }

    .list-entry-name {
      margin-left: 18px;
    }

    .list-entry-type {
      font-size: 12px;
    }

    .list-entry-type div {
      padding: 3px 7px;
      border: 1px solid hsl(234,10%,10%);
      color: hsl(0,0%,40%);
      background: hsl(234,10%,14%);
    }

    .list-entry-type .active {
      color: white;
      background: inherit;
      box-shadow: 0 1px rgba(255,255,255,.03) inset;
    }

    .list-entry-type div:not(:last-child) {
      border-right: none;
    }

    .list-entry-type div:first-child {
      border-radius: 3px 0 0 3px;
    }

    .list-entry-type div:last-child {
      border-left: none;
      border-radius: 0 3px 3px 0;
    }

    .recipient-list input {
      padding-top: 2px;
      background: hsl(232,10%,16%);
      color: white;
      border: none;
      outline: none;
    }

    .recipient-list input[type=submit] {
      height: 0;
      width: 0;
      padding: 0;
      position: absolute;
      visibility: hidden;
    }

    .recipient-list input::-webkit-input-placeholder {    color: #666; }
    .recipient-list input::-moz-placeholder { opacity: 1; color: #666;  }
    .recipient-list input:-ms-input-placeholder {         color: #666; }

  .ticket-edit .text-bubble {
    padding: 0;
    border-color: #b3b3b3;
    white-space: normal;
    border-radius: 5px;
    overflow: hidden;
  }

    .ticket-edit textarea {
      width: 100%;
      height: 38px;
      padding: 10px;
      vertical-align: bottom;
      border: none;
      background: none;
      outline: none;
      resize: none;
    }

    .ticket-edit .bubble-arrow:after {
      border-color: #b3b3b3;
      box-shadow: none;
    }

  .article-attachment {
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 100%;
    height: 38px;
    padding: 10px 0;
    color: #b3b3b3;
  }

    .edit-upload-button {
      position: relative;
      display: inline-block;
      overflow: hidden;
      vertical-align: bottom;
    }

.pop-selector {
  position: absolute;
  top: 0;
  left: 0;
}

  .pop-selected,
  .pop-selectable {
    width: 38px;
    height: 36px;
  }

  .pop-selectable {
    background: hsl(234,10%,19%);
  }

  .pop-selectable:hover {
    background: hsl(234,10%,29%);
  }

  .pop-selectable:first-child {
    border-radius: 4px 0 0 4px;
  }

  .pop-selectable:last-child {
    border-radius: 0 4px 4px 0;
  }

.tabsSidebarSpace {
  padding-right: 62px !important;
  margin-right: 280px;
  transition: 500ms;
}

.tabsSidebarSpace.is-closed {
  margin-right: 0;
}

.tabsSidebar .sidebar {
  width: 280px;
  border-left: 1px solid #e6e6e6;
}

  .tabsSidebar .sidebar h2 {
    margin: 5px 0 0;
  }

  .tabsSidebar-close {
    padding: 20px;
    margin: -15px;
  }

  .sidebar.bottom-form-shadow {
    box-shadow: 
      0 -1px rgba(0,0,0,.005) inset,
      0 -2px rgba(0,0,0,.005) inset,
      0 -3px rgba(0,0,0,.005) inset,
      0 -4px rgba(0,0,0,.005) inset;
  }

  .tabsSidebar {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transition: 500ms;
  }

  .tabsSidebar.is-closed {
    -webkit-transform: translateX(280px);
            transform: translateX(280px);
  }

  .tabsSidebar-tabs {
    position: absolute;
    left: -55px;
    top: 0;
    bottom: 0;
  }

  .test {
    position: absolute;
    width: 100%;
  }

  .tabsSidebar-tab {
    width: 56px;
    height: 60px;
    background: hsl(197,20%,93%);
    cursor: pointer;
    position: relative;
    border-top: 1px solid hsl(202,12%,87%);
  }

    .tabsSidebar-tab.is-changed:before {
      position: absolute;
      content: '';
      left: -3px;
      width: 6px;
      height: 6px;
      top: 50%;
      margin-top: -3px;
      border-radius: 100%;
      background: hsl(198,19%,72%);
      box-shadow: 0 0 0 2px hsl(210,17%,98%);
    }

  .tabsSidebar-tab:first-child {
    border-top-left-radius: 8px;
    border-top: none;
  }

  .tabsSidebar-tab:last-child {
    border-bottom-left-radius: 8px;
  }

  .tabsSidebar-tab .icon {
    opacity: 0.3;
  }

  .tabsSidebar-tab.active .icon {
    opacity: 1;
  }

  .sidebar .form-group {
    margin-left: -20px;
    margin-right: -20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .sidebar .text-muted {
    color: hsl(204,3%,72%);
  }

.tags {
  margin-bottom: 20px;
}

.tagList {
  padding: 0;
  margin-bottom: 5px;
}

  .tagList li {
    border-bottom: 1px solid hsl(240,4%,95%);
  }

  .tagList .tag-delete {
    height: 29px;
    padding: 0 10px;
    margin-right: -4px;
    display: block;
    opacity: 0.2;
  }

    .tagList .tag-delete:hover {
      opacity: 0.5;
    }

.newTicket {
  padding: 34px;
}

  .newTicket .sidebar {
    width: 290px;
  }
  .newTicket .form-control:not(:focus):not(.focus) {
    border-color: hsl(0,0%,90%);
  }
  .newTicket .subtle-link {
    color: hsl(0,0%,89%);
  }

.box {
  background: white;
  margin: 0 auto;
  border: 1px solid #e6e6e6;
  padding: 12px 24px 20px;
  max-width: 658px;
}

  .box .page-header {
    text-align: center;
    border-bottom: none;
    margin: 0;
    padding-bottom: 12px;
  }

  .box h1 {
    color: hsl(60,1%,34%);
  }

  .box .two-columns {
    margin-left: -4px;
    margin-right: -4px;
  }

  .box .two-columns .column {
    margin-left: 4px;
    margin-right: 4px;
    width: calc(50% - 8px);
  }

.formset-inset {
  margin: 31px -24px 24px;
  padding: 19px 24px 4px;
  background: hsl(197,20%,93%);
  border-top: 1px solid hsl(0,0%,90%);
  border-bottom: 1px solid hsl(0,0%,90%);
}

.type-tabs .tab {
  line-height: 40px;
  padding: 0;
}

.type-tabs .icon {
  vertical-align: top;
  margin-right: 9px;
  margin-top: 10px;
  transform: scale(1.2);
}

.tokenfield .token {
  padding: 0 0 0 10px;
  margin: -1px 5px 8px 0;
  height: 26px;
  line-height: 27px;
  color: white;
  background: hsl(198,19%,72%);
  border: none;
  float: none;
}

  .tokenfield .token-input {
    vertical-align: top;
    margin: 2px 0 0 5px;
  }

  .tokenfield .token .token-label {
    padding: 0;
  }

  .tokenfield.form-control {
    padding-top: 8px;
  }

  .tokenfield .token .close {
    margin: 0;
    padding: 0 10px 0 5px;
    font-family: inherit;
    font-weight: 100;
    font-size: 30px;
    line-height: 1;
    color: white;
    text-shadow: none;
    opacity: .3;
    outline: none;
  }

  .tokenfield .token .close:hover {
    opacity: .5;
  }

.drox {
  color: hsl(60,1%,74%);
}

  .drox .drox-header {
    padding-bottom: 2px;
    margin-bottom: 16px;
    border-bottom: 1px solid hsl(240,4%,95%);
  }

  .drox a.create {
    margin-top: 2px;
    display: inline-block;
  }

  .drox .form-group {
    margin-bottom: 22px;
  }

  .drox .drox-body p:first-child {
    margin-top: 20px;
  }

.newTicket .templates {
  border-bottom: 1px solid hsl(240,4%,95%);
  padding-bottom: 14px;
}

.template-attributes {
  margin: 17px 0 19px;
}

  .template-attribute {
    height: 24px;
    line-height: 25px;
    padding-left: 10px;
    margin-bottom: 2px;
    font-size: 13px;
    color: hsl(198,11%,59%);
    background: hsl(197,20%,93%);
    border: 1px solid hsl(0,0%,90%);
    border-radius: 3px;
  }

    .template-attribute .key {
      text-transform: uppercase;
      margin-right: 3px;
    }

    .template-attribute .value {
      margin-left: 3px;
    }

    .template-attribute .delete {
      padding: 0 7px;
      margin-top: 4px;
      line-height: 19px;
      font-size: 28px;
      font-weight: lighter;
      opacity: .4;
    }

.customer-name {
  color: hsl(60,1%,34%);
}

.customer-email {
  margin-top: 5px;
  margin-bottom: 20px;
  display: block;
}

.qq-upload-list li {
  padding: 4px 5px 0;
  margin: 0 5px;
  color: hsl(60,1%,34%);
  font-size: 0.9em;
  line-height: auto;
  background: none;
}

.qq-upload-list li:hover {
  background: hsl(200,20%,97%);
}

.qq-upload-file {
  color: hsl(202,66%,55%);
}

.qq-upload-size {
  font-size: inherit;
}

.switch-back-to-user {
  position: absolute;
  background-color: #389ed9;
  color: #fff;
  height: 34px;
  z-index: 1;
  padding: 8px 9px;
  top: -34px;
}
.switch-back-to-user-space {
  top: 34px;
}

/*

  ----------------
   normal screens
  ----------------

*/

@media only screen and (max-width: 1280px) {
  .sidebar.optional {
    display: none;
  }
}