body {
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.45;
  font-weight: normal;
  background: #2c2d36;
}

.highlight {
  color: hsl(202,68%,54%);
}

#app > nav {
  position: relative;
  z-index: 1;
}

.glyphicon {
  font-size: 13px;
}

.spinner {
  float: left;
  background: url("/assets/images/spinner.gif") no-repeat;
  background-position: center center;
  padding: 44px 10px 0 10px;
  width: 10px;
  height: 14px;
  display: none;
}

table {
  table-layout: fixed;
}

.table {
  display: table;
  color: hsl(198,19%,72%);
}

.table .table-row {
  display: table-row;
}

.table th,
.table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table > thead:first-child > tr:first-child > th,
.table > thead > tr > th {
  padding: 12px 9px 10px;
  border-bottom: none;
  border-top: 1px solid #ececec;
  background: #f0f1f2;
  color: #444a4f;
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
}

.table > tbody > tr > td {
  padding: 10px 9px 9px;
  border: none;
  box-shadow: 0 1px rgba(0,0,0,.02) inset;
}

.table > tbody > tr:first-child > td {
  box-shadow: none;
}

.table-hover > tbody > tr:hover > td, 
.table-hover > tbody > tr:hover > th {
  background: rgba(0,8,14,.015);
}

.table > thead:first-child > tr:first-child > th.no-padding,
.table > thead > tr > th.no-padding,
.table > tbody > tr > td.no-padding {
  padding: 0;
}

.table .checkbox-replacement {
  padding: 0;
  margin: 0;
  height: 38px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.table .checkbox-replacement input[type=checkbox] {
  display: none;
}

.table .priority.icon:after {
  background: #f8f9fa;
}

.table .table-cell {
  vertical-align: top;
  display: table-cell;
  border-bottom: 1px solid #eeeeee;
}

.hero-two {
  width: 100%;
}
.hero-two .hero-left {
  width: 50%;
  float: left;
}
.hero-two .hero-right {
  width: 50%;
  float: right;
}

.content-one {
  top: 78px;
  margin-left: 20px;
  margin-right: 20px;
/*
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
*/
  z-index: -5000;
}
/*
@media (min-width: 1024px) {
  .content-one {
    width: 1024px;
  }
}
*/

.content-fix {
  top: 78px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -5000;
}

.content-fix .sidebar {
  padding: 8px 10px 42px;
  width: 260px;
  height: 100%;
  float: left;
  border-right: 1px solid #eeeeee;
}
.content-fix .sidebar.nav-manage {
  padding-left: 16px;
}

.content-fix .main {
  z-index: -5000;
  width: auto;
  min-width: 760px;
  height: 100%;
  float: left;
  margin-left: 264px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 14px;
  position: absolute;

  right: 0;
  left: 0;
}



.content-two .sidebar {
  padding: 8px 10px 42px;
  width: 200px;
  height: 100%;
  float: left;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid #eeeeee;
}
.content-two .sidebar.nav-manage {
  padding-left: 16px;
}

.content-two .sidebar .nav > li > a {
  padding: 8px 13px;
}

.content-two .sidebar .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.content-two .sidebar input,
.content-two .sidebar select {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
}

.content-two .main {
  width: auto;
  min-width: 760px;
  height: 100%;
  float: left;
  margin-left: 204px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 14px;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  right: 0;
  left: 0;
}
.content-two .main > .nav {
  margin-top: 12px;
}
.content-two .meta {
  display: none;
}

.panel-title {
  font-size: 14px;
}

@media (min-width: 800px) {
  .content-two .sidebar {
    width: 240px;
  }
  .content-two .main {
    margin-left: 244px;
  }
  .content-two .meta {
    display: none;
  }
}
@media (min-width: 1024px) {
  .content-two .sidebar {
    width: 260px;
  }
  .content-two .main {
    margin-left: 264px;
  }
  .content-two .meta {
    display: none;
  }
}
@media (min-width: 1200px) {
  .content-two .sidebar {
    width: 280px;
  }
  .content-two .main {
    margin-left: 284px;
  }
  .content-two .meta {
    width: 140px;
/*
    display: table-cell;
*/
    display: none;
  }
}

.content-cols {
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-spacing: 0;
}
.content-cols .row {
  margin: 0;
}
.content-cols .row2 > div {
  display: table-cell;
  vertical-align: top;
  padding: 0 12px 0 12px;
}
.content-cols .row2 .sidebar {
  border-right: 1px solid #eeeeee;
  width: 160px;
}
.content-cols .sidebar input,
.content-cols .sidebar select {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
}
.content-cols .sidebar .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.content-cols .row2 .main {
  width: 600px;
}
.content-cols .row2 .meta {
  display: none;
}

@media (min-width: 800px) {
  .content-cols .row2 .sidebar {
    width: 200px;
  }
  .content-cols .row2 .main {
    width: 750px;
  }
  .content-cols .row2 .meta {
    display: none;
  }
}
@media (min-width: 1024px) {
  .content-cols .row2 .sidebar {
    width: 220px;
  }
  .content-cols .row2 .main {
    width: 900px;
  }
  .content-cols .row2 .meta {
    display: none;
  }
}
@media (min-width: 1200px) {
  .content-cols .row2 .sidebar {
    width: 240px;
  }
  .content-cols .row2 .main {
    width: 900px;
  }
  .content-cols .row2 .meta {
    width: 200px;
    display: table-cell;
  }
}

.content-cols .nav-bar-stacked {
  background-color: #f7f5fa;
}
.content-cols .nav-bar-stacked .active a {
  border-right: 1px solid #563d7c;
}

#task {
  position: fixed;
  display: table;
  width: 100%;
  min-width: 1000px;
  top: 46px;
  display: none;
}

#task > .taskbar {
  display: table-row;
  z-index: 1040;
}

#task > .taskbar > div {
  padding: 0 4px 4px 4px;
  display: table-cell;
}

#task .task {
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

#task .task > a,
#task .task > a:hover {
  color: #ffffff;
  text-decoration: none;
}

#task .btn-default .task > a,
#task .btn-default .task > a:hover {
  color: #333333;
}

#task .taskbar .btn-small {
  padding: 3px 8px 4px;
  margin-top: 2px;
  font-size: 11px;
  font-weight: 300;
}

#task .taskbar .btn-default {
  background-color: #c3c3c3;
  border-color: #c3c3c3;
}

#task [data-type="close"] {
  margin-left: 5px;
  font-size: 13px;
  top: 1px;
}

#task .taskbar-items {
}

#task .taskbar-new {
  text-align: right;
  padding-right: 12px;
}

.max-size-scroll {
  max-height: 240px;
  overflow-y: scroll;
}

/*
#content > *:not(.active) {
  display: none !important;
}
*/

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 23px;
  line-height: 29px;
  color: rgba(0,8,14,.73);
}

h2,
h2.popover-title {
  font-size: 19px;
  line-height: 25px;
  color: rgba(0,8,14,.73);
}

h3 {
  font-size: 13px;
  margin: 14px 0 6px;
  color: #a9bcc4;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

label {
  text-transform: uppercase;
  color: #999;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.1em;
  padding: 0 2px;
}

.form-group .help-message {
  float: right;
  margin-right: -23px;
  margin-top: -23px;
}

.form-control {
  height: 41px;
  font-weight: normal;
  box-shadow: none;
  border-radius: 3px;
  transition: none;
}

  .form-control:focus {
    box-shadow: none;
    border-color: #419ed7;
  }

  .has-error .form-control,
  .has-error .form-control:focus {
    box-shadow: none;
    border-color: red;
  }

  .help-inline {
    color: red;
    font-size: 13px;
  }

.content {
  overflow: auto;
}

  .content.fit {
    padding: 10px;
    background: #2c2d36;
    z-index: 1;
  }

.form-large {
  width: 85%;
  max-width: 700px;
}
.form-normal {
  width: 70%;
  max-width: 400px;
}
.form-small {
  width: 50%;
  max-width: 250px;
}
.form-normal fieldset {
  margin-bottom: 10px;
}
.sidebar fieldset {
  margin-bottom: 10px;
}

.form-horizontal label {
  text-align: right;
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 130px;
  margin-top: 7px;
}
.form-horizontal .form-group .checkbox label {
  text-align: left;
  width: 100%;
  margin-top: 0;
  margin-bottom: 4px;
}

.form-stacked .checkbox label {
  color: inherit;
  font-size: 13px;
  text-transform: inherit;
  vertical-align: baseline;
  letter-spacing: inherit;
  display: block;
}


.pagination {
  margin: 0;
}

.pagination > li > a, 
.pagination > li > span {
  padding: 0;
  width: 31px;
  height: 28px;
  border-color: #ececec;
}

.pagination-counter {
  margin-right: 19px;
  line-height: 28px;
  color: #9c9c9b;
}

.pagination-items-range {
  color: #706f6f;
}

.page-header-title {
  margin-bottom: 15px;
}

.page-header-title h1 {
  margin-top: 13px;
}

.page-header-meta {
  margin-top: 10px;
  margin-left: auto;
}

.page-header-meta.horizontal .pagination {
  margin-left: auto;
}

.dropdown-menu .count {
  padding-top: 1px;
  margin-left: 10px;
}

.form-horizontal .help-inline, .form-horizontal .help-block {
  font-size: 12px;
  margin-top: 4px;
}

.form-horizontal .control-label {
  width: 130px;
}
.form-horizontal .controls {
  margin-left: 150px;
}

/* replace music icon with attachment */
.icon-attachment {
  background-position: -24px 0;
}

/*
 * hero-unit (used on getstarted, login, signup)
 */

.hero-unit {
  width: 500px;
  margin: 10px 0;
  padding: 23px 25px;
  border: 1px solid #e5f0f5;
  color: inherit;
  background-color: white;
  border-radius: 6px;
  box-shadow: 
    0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

  .hero-unit h1,
  .hero-unit h2 {
    margin-top: 0;
  }

.login, .getstarted, .reset_password, .signup {
  padding: 10px;
  height: auto;
}

.login .hero-unit {
  width: 430px;
}

  .login .logo {
    margin: 30px auto;
    display: block;
  }

  .login p {
    margin: 10px 0;
    max-width: 400px;
    color: hsl(210,8%,42%);
    text-align: center;
  }

  .login hr {
    margin: 10px 0;
    border-top-color: rgba(255,255,255,.15);
    width: 100%;
    max-width: 400px;
  }

  .login p a {
    color: hsl(210,8%,54%);
    text-decoration: underline;
  }

  .subtle-link {
    color: rgba(0,0,0,.32);
    text-decoration: underline;
  }

  .subtle-link:hover {
    color: rgba(0,0,0,.5);
  }

ol.tabs {
  padding: 0;
  list-style: decimal inside;
}

ol.tabs li {
  display: list-item;
}

.tabs {
  margin-bottom: 20px;
  color: #b8b8b8;
  border: 1px solid rgba(0,8,14,.08);
  border-radius: 3px;
}

  .tabs-condensed .tab {
    padding-left: 5px;
    padding-right: 5px;
  }

  .progress-tabs .tab {
    cursor: default;
  }

  .tab {
    height: 39px;
    padding: 9px;
    text-align: center;
    border-right: 1px solid rgba(0,8,14,.08);
    cursor: pointer;
    flex-grow: 1;
  }

  .tab.active {
    color: white;
    background: #444a4f;
    box-shadow: none;
  }

  .tab:first-child {
    border-radius: 3px 0 0 3px;
  }

  .tab:last-child {
    border-radius: 0 3px 3px 0;
    border-right: none;
  }

  .wide-tabs {
    width: 60%;
    margin: 25px auto 20px;
    font-size: 15px;
    font-weight: 300;
    background: white;
    border-radius: 8px;
  }

  .wide-tabs .tab:first-child {
    border-radius: 8px 0 0 8px;
  }

  .wide-tabs .tab:last-child {
    border-radius: 0 8px 8px 0;
  }

.contain-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.separator {
  margin: 20px 0;
  position: relative;
  text-align: center;
}

  .separator:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #e6e6e6;
  }

  .separator-text {
    padding: 0 10px;
    color: #999;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background: white;
    display: inline-block;
    position: relative;
  }

.auth_provider {
  padding: 9px 7px 8px;
  color: white;
  line-height: 22px;
  text-align: center;
  border-radius: 2px;
}

  .auth_provider:not(:last-child) {
    margin-right: 8px;
  }

  .auth_provider:hover {
    color: white;
    cursor: pointer;
    text-decoration: none;
  }

  .auth_provider.facebook {
    background-color: #4f699c;
  }

  .auth_provider.google {
    background-color: #d8543c;
  }

  .auth_provider.twitter {
    background-color: #2eaee1;
  }

.provider_icon {
  width: 29px;
  height: 22px;
}

  .facebook .provider_icon {
    background-image: url(<%= asset_path "facebook.svg" %>);
  }

  .google .provider_icon {
    background-image: url(<%= asset_path "google.svg" %>);
  }

  .twitter .provider_icon {
    background-image: url(<%= asset_path "twitter.svg" %>);
  }

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(<%= asset_path "sprite.svg" %>);
  background-repeat: no-repeat;
  background-position: 20px 20px; /* make icon empty */
}

  .dashboard.icon,
  .overviews.icon,
  .customers.icon,
  .group.icon,
  .message.icon,
  .tools.icon,
  .person.icon {
    width: 24px;
    height: 25px;
  }

  .dashboard.icon {
    background-position: 0 0;
  }

  .overviews.icon {
    background-position: -24px 0;
  }

  .group.icon,
  .customers.icon {
    background-position: -48px 0;
  }

  .message.icon {
    background-position: -72px 0;
  }

  .tools.icon {
    background-position: -96px 0;
  }

  .person.icon {
    background-position: -120px 0;
  }

  .light.cog.icon {
    background-position: 0 -56px;
  }

  .dark.cog.icon {
    background-position: 0 -76px;
  }

  .green.plus.icon {
    background-position: -20px -56px;
  }

  .white.plus.icon {
    background-position: -20px -76px;
  }

  .signout.icon {
    width: 15px;
    height: 19px;
    background-position: 0 -96px;
  }

  .priority.icon {
    background: none;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    position: relative;
  }

  .modified.priority.icon {
    width: 12px;
    height: 12px;
    background: none !important;
    border: 1px solid;
  }

    .priority.icon:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -3px 0 0 -3px;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background: #2c2d36;
    }

    .modified.priority.icon:after {
      -webkit-animation: fade 1s ease 2s infinite alternate;
         -moz-animation: fade 1s ease 2s infinite alternate;
          -ms-animation: fade 1s ease 2s infinite alternate;
              animation: fade 1s ease 2s infinite alternate;
    }

    @-webkit-keyframes fade { from { opacity: 0 } to { opacity: 1 } }
       @-moz-keyframes fade { from { opacity: 0 } to { opacity: 1 } }
        @-ms-keyframes fade { from { opacity: 0 } to { opacity: 1 } }
            @keyframes fade { from { opacity: 0 } to { opacity: 1 } }

  .close.icon {
    position: relative;
    background: none;
    opacity: 1 !important;
  }

  .close-task.icon {
    background: #2c2d36;
    border-radius: 100%;
  }

  .close.icon:before,
  .close.icon:after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 10%;
    height: 80%;
    width: 2px;
    background: #85888a;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .close.icon:after {
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .close-task.icon:before,
  .close-task.icon:after {
    top: 20%;
    height: 60%;
    background: #586066;
  }

  .organisation.icon {
    height: 13px;
    width: 14px;
    background-position: 0 -115px;
  }

  .icon-switch:hover .organisation.icon,
  .task.active .organisation.icon {
    background-position: 0 -128px;
  }

  .user.icon {
    height: 13px;
    width: 14px;
    background-position: -14px -115px;
  }

  .icon-switch:hover .user.icon,
  .task.active .user.icon {
    background-position: -14px -128px;
  }

  .note.icon {
    height: 13px;
    width: 14px;
    background-position: -28px -115px;
  }

  .icon-switch:hover .note.icon,
  .task.active .note.icon {
    background-position: -28px -128px;
  }

  .pen.icon {
    height: 13px;
    width: 14px;
    background-position: -42px -115px;
  }

  .icon-switch:hover .pen.icon,
  .task.active .pen.icon {
    background-position: -42px -128px;
  }

 .important.icon {
    height: 13px;
    width: 14px;
    background-position: -56px -115px;
  }
  .icon-switch:hover .important.icon,
  .task.active .important.icon {
    background-position: -56px -128px;
  }

  .tools.icon {
    height: 13px;
    width: 14px;
    background-position: -70px -115px;
  }
  .icon-switch:hover .tools.icon,
  .task.active .tools.icon {
    background-position: -70px -128px;
  }

  .clock.icon {
    height: 13px;
    width: 14px;
    background-position: -84px -115px;
  }
  .icon-switch:hover .clock.icon,
  .task.active .clock.icon {
    background-position: -84px -128px;
  }

  .channel.icon {
    width: 17px;
    height: 16px;
  }

  .email.channel.icon {
    background-position: 0 -141px;
  }

  .received-calls.channel.icon {
    background-position: -17px -141px;
  }

  .outbound-calls.channel.icon {
    background-position: -34px -141px;
  }

  .facebook.channel.icon {
    background-position: -51px -141px;
  }

  .twitter.channel.icon {
    background-position: -67px -141px;
  }

  .gray.email.channel.icon {
    background-position: -85px -141px;
  }

  .gray.received-calls.channel.icon {
    background-position: -102px -141px;
  }

  .gray.outbound-calls.channel.icon {
    background-position: -119px -141px;
  }

  .gray.facebook.channel.icon {
    background-position: -136px -141px;
  }

  .gray.twitter.channel.icon {
    background-position: -153px -141px;
  }

  .mood.icon {
    width: 60px;
    height: 59px;
  }

  .mood.icon.superbad-state {
    background-position: 0 -157px;
  }

  .mood.icon.bad-state {
    background-position: -60px -157px;
  }

  .mood.icon.ok-state {
    background-position: -120px -157px;
  }

  .mood.icon.good-state {
    background-position: -180px -157px;
  }

  .mood.icon.supergood-state {
    background-position: -240px -157px;
  }

  .stopwatch.icon {
    width: 77px;
    height: 83px;
    background-position: 0 -216px;
  }

  .in-process.icon {
    width: 64px;
    height: 64px;
    background-position: -77px -216px;
  }

  .in-process.superbad-state,
  .reopening.superbad-state {
    background-color: #f35910;
  }

  .in-process.bad-state,
  .reopening.bad-state {
    background-color: #f6820b;
  }

  .in-process.ok-state,
  .reopening.ok-state {
    background-color: #faab00;
  }

  .in-process.good-state,
  .reopening.good-state {
    background-color: #a9ac41;
  }

  .in-process.supergood-state,
  .reopening.supergood-state {
    background-color: #38ae6a;
  }

  .reopening.icon {
    width: 68px;
    height: 47px;
    background-position: -141px -216px;
  }

  .stat-all-tickets.icon {
    width: 48px;
    height: 83px;
    background-position: -209px -216px;
  }

  .stat-tickets {
    height: 83px;
    margin-right: 4px;
    margin-bottom: -9px;
  }

  .stat-ticket.icon {
    width: 48px;
    height: 10px;
    margin-top: -7px;
    margin-bottom: 2px;
  }

  .stat-ticket.superbad-state {
    background-position: -257px -256px;
  }

  .stat-ticket.bad-state {
    background-position: -257px -246px;
  }

  .stat-ticket.ok-state {
    background-position: -257px -236px;
  }

  .stat-ticket.good-state {
    background-position: -257px -226px;
  }

  .stat-ticket.supergood-state {
    background-position: -257px -216px;
  }

  .left.arrow.icon,
  .right.arrow.icon {
    width: 8px;
    height: 12px;
    opacity: .39;
  }

  .disabled.left.arrow.icon,
  .disabled.right.arrow.icon {
    opacity: .23;
  }

  .left.arrow.icon {
    background-position: 0 -299px;
  }

  .right.arrow.icon {
    background-position: -8px -299px;
  }

  .checkbox.icon {
    min-height: 0; /* overwriting bootstrap */
    margin: 0; /* overwriting bootstrap */
    width: 10px;
    height: 10px;
    background-position: -16px -299px;
  }

  .white.checkbox.icon {
    background-color: white;
  }

  :checked + .checkbox.icon {
    background-position: -26px -299px;
  }


/*
 * removed margin of forms to not break the layout with submit buttons within <form></form> area e. g. for modal dialogs
 */
form {
  margin: 0;
}

.form-controls {
  margin-top: 10px;
}

form a.standalone {
  line-height: 40px;
  margin: 0 5px;
}

form.form-inline select,
form.form-inline input[type="text"],
form.form-inline input[type="password"] {
  width: 180px;
  margin-right: 4px;
}

.modal-header {
  padding: 10px 15px;
}

.modal .form-group .controls {
  width: 65%;
}

.modal .form-group {
  margin-bottom: 2px;
}

.modal-footer {
  margin-top: 0;
  padding: 14px 20px 20px;
}

.drox {
  margin-bottom: 6px;
}

.drox-header {
  padding: 8px 13px;
  background-color: #f5f5f5;
  color: #333333;
  border-radius: 5px;
}

.drox-header .glyphicon {
  display: none;
}
.drox-header:hover .glyphicon, .drox-header:focus .glyphicon {
  display: inline-block;
  color: #005580;
  text-decoration: none;
}
.drox-header h3 {
  font-size: 13px;
  font-weight: 200;
  margin-top: 2px;
  margin-bottom: 2px;
}

.drox-body {
  padding: 8px 13px;  
}


.delete {
  background:url("../assets/close.png") no-repeat;
  text-indent: -9999em;
  border: 0;
  width: 40px;
  height: 40px;
  cursor:pointer;
  float: right;
  position: relative;
  top: -15px;
  left: 30px;
  margin: 4px;
  clear: right;
}

footer {
  clear: both;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 22px;
}

.can-move {
  cursor: move;
}

.can-move-placeholder {
    border: 1px dashed #DDD;
    background: #EEE;
    margin-top: 5px;
    margin-bottom: 5px;
}

.clickable {
  cursor: pointer;
}

.customer_info {
}

.customer_info ul.nav > li {
  width: 50%;
}
.customer_info ul.nav > li > a {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.customer_info .thumbnail {
  position: absolute;
  right: 20px;
}
.customer_info textarea {
  padding-left: 10px;
  width: 100%;
  border-color: #eee;
}

.overview {
  padding: 10px 20px;
}

.bulk-action {
  background: white;
  z-index: 1;
  box-shadow: 
    0 -1px rgba(0,0,0,.05),
    0 -2px rgba(0,0,0,.03),
    0 -3px rgba(0,0,0,.01);
}

.sidebar .action {
  padding: 6px 8px 6px;
  position: fixed;
  bottom: 60px;
  background-color: #fff;
  width: 100%;
  right: 0px;
  border-top: 1px solid #eeeeee;
  width: 120px;
  margin-left: 4px;
}
@media (min-width: 800px) {
  .sidebar .action {
    width: 234px;
  }
}
@media (min-width: 1024px) {
  .sidebar .action {
    width: 254px;
  }
}
@media (min-width: 1200px) {
  .sidebar .action {
    width: 274px;
  }
}

.show_toogle {
  font-size: 10px;
  line-height: 12px;
  color: #999999;
}

.well-muted {
  background-color: whiteSmoke;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.internal {
  background-color: #f2dede;
  border-color: #eed3d7;
  border: 1px solid #fbeed5;
  border-radius: 4px;
}

.merged, .merge:hover {
  text-decoration: line-through;
}

.not-active {
  text-decoration: line-through;
}
.not-active a {
  color: #bbb;
}

.customer-info {
  width: 100%;
  padding-top: 7px;
}

.inline-edit {
  padding: 4px;
}
.inline-edit:hover {
  padding: 3px;
  border: 1px dotted #F92;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.translation {
  border: 1px dotted #F92;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.translation:hover {
}

.translation .icon-edit {
  display: none;
}

.translation:hover .icon-edit {
  display: inline-block;
}

/*
 * noty changes
 */
.noty_bar.noty_layout_top {
  
}

.qq-upload-icon {
  margin: 6px 20px 0 0;
  height: 18px;
}
.qq-upload-icon .glyphicon {
  font-size: 15px;
}

.qq-upload-button {
    display: block;
    /*or inline-block*/
    width: 40px;
    padding: 8px 0 5px;
    text-align: center;
}

.qq-upload-list {
  text-align: left;
  margin: 5px 10px 0;
  padding: 0;
  list-style: disc;
}

.qq-upload-list li {
  font-size: 14px;
  padding: 5px;
  background-color: transparent;
}

.sub_attribute .control-label {
  width: 60px;
}
.sub_attribute .controls {
  margin-left: 80px;
}

.form-changed {
  border: 1px solid #fbeed5;
  border-radius: 4px;
  background-color: #fcf8e3;
}

#splash {
  background-color: #eee;
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
}
#splash .logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  width: 100px;
}

.btn {
  font-size: 14px;
  padding: 9px 14px;
}

.btn.primary,
.btn-primary {
  color: white;
  background: #419ed7;
  border-color: #419ed7;
}

.navigation {
  width: 260px;
  background: #26272e;
  position: relative;
}

  .navigation:empty {
    display: none !important;
  }

  .navigation .navbar-nav,
  .navigation .navbar-nav > li {
    float: none;
  }

  .navigation .nav > li.active > a,
  .navigation .nav > li > a:hover,
  .navigation .nav > li > a:focus {
    background: none;
    color: #F0FAFF;
  }

  .navbar-nav > li > a {
    padding: 0 15px;
    height: 48px;
    color: rgba(240, 250, 255, .25);
    border-bottom: 1px solid rgba(240, 250, 255, .05);
  }

  .navigation .nav > li.active > a {
    background: #389ed9;
  }

  .navigation .nav-item-icon .icon {
    margin-right: 15px;
    opacity: 0.25;
    vertical-align: bottom;
  }

  .navigation .nav > li.active > .icon,
  .navigation .nav > li > a:hover .icon,
  .navigation .nav > li > a:focus .icon {
    opacity: 1;
  }

.tasks {
  background: #2c2d36;
  overflow: auto;
}

  .task {
    height: 38px;
    padding: 10px 15px 7px 0;
    border-bottom: 1px solid #33363e;
    cursor: pointer;
    position: relative;
  }

  .task .name {
    color: #808080;
  }

  .task:hover {
    text-decoration: none;
  }

  .task .icon-holder {
    width: 30px;
  }

  .task .icon-holder .icon {
    margin-right: 3px;
    margin-top: -3px;
  }

  .task .modified.priority.icon {
    margin-right: 8px;
  }

  .task:hover {
    background: #26272e;
  }

  .task.active {
    background: #389ed9;
  }

  .task.active .name {
    color: white;
  }

  .task.active .priority.icon,
  .task.active .modified.priority.icon,
  .task.active .modified.priority.icon:after {
    background: white;
    border-color: white;
  }

  .level-2 {
    color: #38ae6a;
  }

  .level-1.priority.icon,
  .level-1 .priority.icon,
  .level-1.active,
  .level-1.active .priority.icon:after,
  .level-1 .modified.priority.icon,
  .level-1 .modified.priority.icon:after {
    background-color: #38ae6a;
    border-color: #38ae6a;
    color: #38ae6a;
  }

  .level-2 {
    color: #f35910;
  }

  .level-2.priority.icon,
  .level-2 .priority.icon,
  .level-2.active,
  .level-2.active .priority.icon:after,
  .level-2 .modified.priority.icon,
  .level-2 .modified.priority.icon:after {
    background-color: #f35910;
    border-color: #f35910;
    color: #f35910;
  }

  .level-3 {
    color: #faab00;
  }

  .level-3.priority.icon,
  .level-3 .priority.icon,
  .level-3.active,
  .level-3.active .priority.icon:after,
  .level-3 .modified.priority.icon,
  .level-3 .modified.priority.icon:after {
    background-color: #faab00;
    border-color: #faab00;
  }

  .task .close-task.button {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    padding-left: 12px;
    height: 100%;
    visibility: hidden;
  }

  .task:hover .close-task.button {
    visibility: visible;
  }

  .close-task.button:hover .icon {
    background: #972e29;
  }

  .close-task.button:hover .icon:after,
  .close-task.button:hover .icon:before {
    background: white;
  }

.search {
  padding: 10px 15px 10px 10px;
  border-bottom: 1px solid rgba(240, 250, 255, .05);
}
  
  .search-holder {
    margin-right: 15px;
    position: relative;
    transition: 240ms;
  }

  .empty-search {
    position: absolute;
    right: 0;
    top: 0;
    height: 30px;
    width: 40px;
    z-index: 1;
    visibility: hidden;
  }

    .filled.search .empty-search {
      visibility: visible;
    }

  .search input {
    width: 100%;
    padding: 5px 10px 5px 33px;
    height: 30px;
    color: #ECECEC;
    line-height: 20px;
    background: #31373b url(<%= asset_path "sprite.svg" %>) no-repeat 10px -26px;
    outline: none;
    border: none;
    border-radius: 15px;
    position: relative;
    z-index: 1;
  }

  .search.focused .search-holder {
    margin-right: -46px;
  }

  .search.focused .logo {
    opacity: 0;
  }

  .search .logo {
    width: 41px;
    height: 36px;
    background: url(<%= asset_path "logo.svg" %>);
    transition: 240ms;
    cursor: pointer;
    position: relative;
  }

    .logo .activity-counter {
      height: 19px;
      min-width: 19px;
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 0 3px;
      font-size: 11px;
      line-height: 17px;
      text-align: center;
      color: white;
      text-shadow: 0 1px 1px rgba(0,0,0,.21);
      background: hsl(360,71%,60%);
      border-radius: 10px;
      border: 2px solid hsl(232,10%,16%);
    }

  .search .custom-dropdown-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #26272e;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 56px;
    z-index: 1002;
    display: none;
  }

  .search.open .custom-dropdown-menu {
    display: block;
  }

  .search .custom-dropdown-menu .divider {
    height: 1px;
    background: #2f3238;
    margin: 14px 0 17px;
  }

  .search .custom-dropdown-menu > li > a {
    height: 30px;
    padding: 0 15px 0 10px;
    color: #808080;
    border: none;
  }

  .search .custom-dropdown-menu > li > a .icon {
    margin-right: 13px;
  }

  .search .custom-dropdown-menu > li:hover > a,
  .search .custom-dropdown-menu > li.active > a {
    background: #3fa9f5;
    color: white;
    text-decoration: none;
  }

  .search .custom-dropdown-menu > li:hover > a .priority.icon,
  .search .custom-dropdown-menu > li.active > a .priority.icon {
    background: white;
  }

  .search .custom-dropdown-menu > li:hover > a .priority.icon:after,
  .search .custom-dropdown-menu > li.active > a .priority.icon:after {
    background: #3fa9f5;
  }

  .user-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
  }

    .user-menu > li {
      background: #26272e;
    }

    .user-menu .list-button {
      height: 60px;
      position: relative;
      cursor: pointer;
      z-index: 1001;
    }
    
    .user-menu .list-button *:not(.dropdown-nose) {
      position: relative;
    }

    .user-menu > li:hover .list-button:before {
      content: '';
      position: absolute;
      top: 4px;
      right: 4px;
      bottom: 4px;
      left: 4px;
      background: white;
    }

    .user-menu li.add:hover .list-button:before {
      background: #38ae6a;
    }

    .user-menu .dark.cog,
    .user-menu > li:hover .light.cog,
    .user-menu > li.active .light.cog,
    .user-menu .white.plus,
    .user-menu > li:hover .green.plus,
    .user-menu > li.active .green.plus {
      display: none;
    }

    .user-menu > li.settings:hover .dark.cog,
    .user-menu > li.settings.active .dark.cog,
    .user-menu > li.add:hover .white.plus,
    .user-menu > li.add.active .white.plus {
      display: block;
    }

    .user-menu > li:not(:last-child) {
      border-right: 1px solid #2c2d36;
    }

  .dropdown-nose {
    position: absolute;
    border: 7px solid transparent;
    border-bottom: none;
    border-top: 7px solid white;
    left: 50%;
    margin-left: -7px;
    top: -6px;
    display: none;
  }

  li.add .dropdown-nose {
    border-top-color: #38af6e;
  }

  .open.dropdown .dropdown-nose,
  .open.dropup .dropdown-nose {
    display: block;
  }

  .user-menu .dropdown-menu {
    padding: 0;
    border-radius: 0;
    margin-bottom: 5px;
    min-width: 0;
    left: 10px;
    right: 15px;
  }

    .user-menu li.add .dropdown-menu {
      background-color: #38af6e;
    }

    .user-menu li.add .dropdown-menu > li > a {
      color: white;
    }

    .user-menu li.add .dropdown-menu .divider {
      background: #4cb77c;
    }

  .user-menu .dropdown-menu .divider {
    margin: 0;
  }

  .user-menu .dropdown-menu > li > a {
    height: 40px;
    padding: 10px 15px;
    color: #2594d4;
  }

  .user-menu .dropdown-menu > li > a:hover {
    background: rgba(0,0,0,.05);    
  }

.avatar {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  display: inline-block;
  vertical-align: bottom;
}

  .big.avatar {
    width: 50px;
    height: 50px;
  }

.sidebar {
  width: 32%;
  max-width: 353px;
  padding: 20px;
  background: white;
  border-right: 1px solid #e6e6e6;
  overflow: auto;
}

  .main + .sidebar {
    border-right: none;
    border-left: 1px solid #e6e6e6;
  }

.NavBarAdmin.sidebar {
  padding-top: 1px;
  width: 270px;
}

  .nav-stacked > li + li {
    margin-top: 0;
  }

  .nav-stacked > li:last-child a {
    border-bottom: 1px solid #f2f2f3;
  }

  .nav-pills > li > a {
    color: #0f94d6;
    border-radius: 0;
    padding: 8px 0;
    border-top: 1px solid #f2f2f3;
  }

  .nav-pills > li:hover > a {
    background: #f2f2f3;
  }

  .nav-pills > li:hover > a,
  .nav-pills > li:hover + li > a {
    border-color: transparent;
  }

  .nav-pills > li.active > a,
  .nav-pills > li.active > a:hover,
  .nav-pills > li.active > a:focus {
    color: white;
    background: #2c2d36;
  }

  .nav-pills > li:hover > a,
  .nav-pills > li.active > a,
  .nav-pills > li.active > a:hover,
  .nav-pills > li.active > a:focus {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .sidebar:not(.NavBarAdmin) .nav-pills > li:first-child > a {
    border-top: none;
  }

  .badge {
    padding: 0;
    font-size: inherit;
    font-weight: normal;
    color: #d0d2d3;
    background: none;
    border-radius: 0;
  }

  .nav-pills > li > a > .badge {
    margin-left: auto;
  }

  a.list-group-item.active > .badge, 
  .nav-pills > .active > a > .badge {
    color: #96969b;
    background: none;
  }

.main {
  padding: 10px 20px;
  background: #f8f9fa;
  overflow: auto;
  position: relative;
}

  .main.no-padding {
    padding: 0;
  }

.popover {
  width: 372px;
  max-width: 9999px;
  border-radius: 0;
  border: none;
  z-index: 1110;
  box-shadow: 0 1px 14px rgba(0,8,14,.25);
}
  
  .popover-title {
    border: none;
    background: none;
    padding: 20px 17px 4px;
  }

  .popover-content {
    padding: 0 17px 10px;
  }

  .popover.right { margin-left: 4px; }
  .popover.right > .arrow {
    border-right: none;
    left: -9px;
  }

  .popover.top { margin-bottom: 9px; }
  .popover.top > .arrow {
    border-top: none;
    bottom: -9px;
  }

  .popover.left { margin-right: 9px; }
  .popover.left > .arrow {
    border-left: none;
    right: -9px;
  }

  .popover.bottom { margin-top: 9px; }
  .popover.bottom > .arrow {
    border-bottom: none;
    top: -9px;
  }

  .popover > .arrow:after {
    border-width: 8px;
  }

  .popover .priority.icon:after {
    background: white;
  }

  .popover .person .company {
    color: #a1a4a7;
  }

  .popover hr {
    margin: 8px 0;
  }

  .popover .person .company:before { content: '('; }
  .popover .person .company:after { content: ')'; }

  .popover .column h3 {
    margin: 8px 0 1px;
  }

  .popover .column {
    margin-bottom: 8px;
  }

.stat-widgets {
  margin: 0 -7px 20px;
}

  .stat-widget {
    height: 200px;
    margin: 7px; 
    padding: 13px;
    text-align: center;
    line-height: 20px;
    background: white;
    border: 1px solid #e5f0f5;
    border-radius: 1px;
    box-shadow: 0 1px rgba(0,8,14,.02);
  }

    .stat-widget h3 {
      margin: 2px 0 8px;
      color: #444a4f;
      letter-spacing: 0;
      font-weight: normal;
    }

    .stat-widget .stat-label {
      color: #444a4f;
    }

    .stat-widget .stat-detail {
      color: #b4b7b9;
    }

    .channel-distribution.stat-widget {
      color: #a1a4a7;
    }

  .time.stat-widget .stat-graphic .icon {
    position: relative;
  }

    .time.stat-widget .stat-amount {
      margin-top: 16px;
      text-align: center;
      font-size: 30px;
      color: white;
      text-shadow: 0 2px rgba(0,8,14,.2);
      position: relative;
    }

    .time.stat-widget .stat-dial {
      position: absolute;
      top: 21px;
      left: 14px;
    }

.stats-channel {
  padding: 8px 0 7px;
  margin-bottom: -7px;
  border-radius: 3px;
}

.stats-channel:hover {
  background: rgba(0,8,14,.03);
}

  .stats-channel .channel-bars {
    height: 73px;
    margin: 16px 0 15px;
    padding: 2px 12px;
    width: 100%;
    background: linear-gradient(to top, #f2f2f3, #f2f2f3 1px, transparent 1px);
    background-position: center bottom;
    background-size: 100% 12px;
  }

  .channel-bars .channel-bar {
    border-radius: 5px;
    width: 10px;
    background: #a9bcc4;
  }

  .channel-bars .channel-bar.secondary {
    opacity: .38;
  }

.activity.sidebar {
  width: 370px;
  padding: 0;
  border-left: 1px solid #e8e8e8;
}

  .activity h2 {
    margin-left: 19px;
    margin-bottom: 15px;
    margin-right: 26px;
  }

  .activity-entry.state--read {
    opacity: 0.5;
  }

  .activity-avatar {
    padding-top: 16px;
    padding-left: 14px;
    padding-right: 2px;
    margin-right: 10px;
  }

    .activity-avatar:hover .avatar {
    }

  .activity-body {
    color: #444a4f;
    padding: 16px 26px 16px 2px;
    position: relative;
  }

    .activity-body:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 30px;
      left: 8px;
      border-bottom: 1px solid #f2f2f3;
    }

  .activity-body:hover {
    color: #444a4f;
    text-decoration: none;
  }

    .activity-body:hover .activity-text {
      text-decoration: underline;
    }

  .activity-message {
    padding-right: 20px;
  }

  .activity-time {
    margin-top: 2px;
    color: #a1a4a7;
    display: block;
  }

  .activity .priority.icon:after {
    background: white;
  }

.form-inline .input-group-addon,
.form-inline .form-control {
  background: white;
  border: none;
  line-height: 1;
}

  .form-inline .form-group {
    padding: 10px;
    overflow: hidden;
    flex-grow: 1;
  }

  .form-inline .form-group .btn {
    width: 100%;
  }

  .form-inline .form-group:not(:last-child) {
    border-right: 1px solid #f0f0f0;
  }

  .form-inline .input-group-addon {
    padding: 0 10px 2px;
    font-size: 13px;
    text-align: left;
    letter-spacing: 0.05em;
    color: #ccc;
    display: block;
  }

  .form-inline .form-control {
    margin: 0 10px;
    padding: 0 0 2px;
    height: auto;
    float: none;
    display: block;
    border-radius: 0;
    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
            appearance: none;
  }

.ticket-zoom {
  margin-top: 62px;
  margin-bottom: 46px;
  border-bottom: none;
}

  .ticket-title {
    max-width: 400px;
  }

    .ticket-title h1 {
      margin-top: 15px;
      margin-bottom: 8px;
      text-align: center;
    }

  .task-meta {
    color: #c6c6c5;
    font-size: 12px;
  }

.bubble-grid {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 21px;
}

  .bubble-grid .avatar {
    margin-right: 15px;
  }

  .customer.ticket-article-item .avatar {
    margin-right: 0;
    margin-left: 15px;
  }

  .ticket-article-item {
    margin-top: 33px;
    margin-bottom: 33px;
  }

  .text-bubble {
    padding: 10px 20px;
    margin-right: 70px;
    white-space: pre-wrap;
    background: white;
    border-radius: 5px;
    border: 1px solid hsl(240,4%,95%);
    box-shadow: 0 0 1px rgba(0,0,0,.06) inset;
    position: relative;
  }

  .customer.ticket-article-item .text-bubble {
    background: #e5f0f5;
    margin-right: 0;
    margin-left: 70px;
    border-color: hsl(199,38%,92%);
    box-shadow: none;
  }

  .edit .text-bubble {
    padding: 0;
    border-color: #b3b3b3;
    white-space: normal;
  }

    .edit textarea {
      width: 100%;
      height: 38px;
      padding: 10px 20px;
      vertical-align: bottom;
      border: none;
      background: none;
      outline: none;
      transition: 500ms;
    }

    .edit textarea:focus {
      height: 105px;
    }

    .edit textarea:focus + .bubble-placeholder {
      display: none;
    }

    .edit .bubble-arrow:after {
      border-color: #b3b3b3;
      box-shadow: none;
    }

    .bubble-placeholder {
      position: absolute;
      color: #b3b3b3;
      left: 20px;
      top: 10px;
      pointer-events: none;
    }

    .bubble-arrow {
      position: absolute;
      width: 7px;
      height: 9px;
      left: -6px;
      top: 15px;
      overflow: hidden;
    }
    
    .bubble-arrow:after {
      content: "";
      position: absolute;
      top: -1px;
      left: 2px;
      width: 11px;
      height: 11px;
      background: white;
      border: 1px solid hsl(240,4%,95%);
      box-shadow: 0 0 1px rgba(0,0,0,.06) inset;
      transform: rotate(-45deg);
    }

    .customer.ticket-article-item .bubble-arrow {
      left: auto;
      right: -6px;
    }

    .customer.ticket-article-item .bubble-arrow:after {
      background: #e5f0f5;
      left: auto;
      right: 2px;
      border-color: hsl(199,38%,92%);
      box-shadow: none;
    }

  .ticket-article-item .task-meta {
    margin-top: 12px;
    text-align: center;
    display: block;
  }

.ticket-edit {
  margin-top: auto;
}

  .edit-ticket-properties {
    margin-top: 37px;
    background: white;
  }

/* 

  ----------------
   normal screens
  ----------------

*/

@media only screen and (max-width: 1280px) {
  .activity.sidebar {
    /*display: none;*/
  }
}