Reminder reached (<%= d 'ticket.title' %>)

<p>Hi <%= d 'recipient.firstname' %>,</p>
<br>
<p>Ticket needs attention, reminder reached for ticket (<%= d 'ticket.title' %>) with customer "<b><%= d 'ticket.customer.longname' %></b>".</p>
<br>
<% if @objects[:article] %>
  <p>
  <%= t 'Information' %>:
  <blockquote type="cite">
  <%= a 'article' %>
  </blockquote>
  </p>
<% end %>
<br>
<p>
  <a href="<%= c 'http_type' %>://<%= c 'fqdn' %>/#ticket/zoom/<%= d 'ticket.id' %>" target="zammad_app"><%= t 'View this in Zammad' %></a>
</p>
