<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=1024">
  <title><%= Setting.get('product_name') %></title>
  <%= stylesheet_link_tag "application", :media => 'all' %>
  <%= stylesheet_link_tag "application-print", :media => 'print' %>
  <% if Rails.configuration.assets.debug %>
  <%= javascript_include_tag "application" %>
  <% else %>
  <%= javascript_include_tag "application", :defer => 'defer' %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
