<!DOCTYPE html>
<html dir="ltr" lang="en-us">
  <head>
    <title><%= Setting.get('product_name') %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <meta name="theme-color" content="#191919">
    <link rel="manifest" href="/mobile/manifest.webmanifest" />
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= vite_typescript_tag 'mobile', nonce: true %>
    <%= vite_client_tag %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
